/*!
Theme Name: royalquebec
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: royalquebec
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

--------------------------------------------------------------*/

@import "abstracts/abstracts";
//@import "old";
@import "oldformatted";
@import "core/normalize";
@import "core/atomic";
@import "core/box-sizing";
@import "core/typography";
@import "components/components";
@import "elements/elements";
@import "layouts/layouts";
@import "pages/pages";
@import "sections/sections";


.reveal {
  opacity: 0;
  transform: translate3d(0, 1.125rem, 0);
}

.revealed {
  transition: opacity 750ms ease, transform 750ms ease;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.parallax-bg {
  overflow: hidden;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  //background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.video-container + .content {
  @media only screen and (max-width: 768px){
    display: none !important;
  }
}
.video-container {
  background-size: cover;

  > div:nth-child(1){
    @media only screen and (max-width: 768px){
        padding: 100% 0 0 0 !important;
    }

  }
}

[data-aos] {
  @media only screen and (max-width: 768px){
    transform: none !important;
    opacity: 1 !important;
  }
}

.search-error {
  color: white;
  position: absolute;
  top: 5px;
}
