/*--------------Defaults overrides------------------*/
#sp-sectiondesmembres {
  position: fixed;
  color: #fff;
  top: 50px;
  z-index: 999;
  text-transform: uppercase;
  font-size: 38px;
  margin-left: 11%;
  width: 60%; }

#sp-top-membres {
  position: fixed;
  width: 100%;
  z-index: 999; }

#sp-top-membres .sp-module {
  float: right; }

#sp-top-membres #sp-topmembres {
  float: right;
  z-index: 9999; }

#sp-top-membres .player {
  padding-right: 20px; }

#sp-top-membres span.player-handicap.badge {
  background: #1f1f20;
  padding: 7px 10px;
  margin-left: 9px; }

#sp-top-membres .logout-button {
  float: right; }

#sp-top-membres .logout-button input.btn.btn-primary {
  background-color: #D22333;
  color: white;
  border: none; }

section#sp-accesmembre {
  position: fixed;
  z-index: 998;
  right: 200px;
  top: 25px; }

@media (max-width: 575px) {
  section#sp-accesmembre {
    right: 40px; } }

#sp-accesmembre ul.menu {
  margin: 0;
  padding: 0;
  list-style-type: none; }

#sp-accesmembre a.rq-button {
  background: #D22333;
  padding: 10px;
  color: white; }

/*

div#sp-accesmembre {float: right;text-align: right;margin-right: 30px;}*/
#sp-top2 .pwebbox-modal span.text {
  font-size: 13px;
  text-transform: uppercase;
  text-align: right; }

#sp-top2 .pwebbox-modal {
  margin-left: 15px; }

#sp-top2 .dark .pwebbox_toggler {
  border-radius: 0px;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
  box-shadow: none; }

@media (min-width: 1340px) {
  body.helix-ultimate #rq-homeboxes .sppb-row-container {
    max-width: 1300px; }
  .sppb-row-container {
    width: 1300px; } }

.breadcrumb {
  margin-bottom: 0;
  padding: 2px;
  background: none; }

.breadcrumb a.pathway, .breadcrumb li {
  color: #747B80;
  font-size: 14px; }

.breadcrumb a.pathway:hover {
  color: black; }

.rq-grey {
  color: #747B80; }

div#sp-logo {
  position: fixed;
  z-index: 999;
  width: 10%;
  padding: 0;
  margin: 0; }

div#sp-logo img {
  width: auto;
  height: auto;
  max-width: 100%; }

div#sp-logo2 {
  z-index: 1000;
  position: absolute;
  width: 10%;
  padding: 0;
  margin: 0; }

.logo-mobile #sp-logo {
  width: auto; }

#sp-topmenu {
  position: fixed;
  width: 100%;
  z-index: 998; }

#sp-header {
  top: 32px; }

#sp-header.header-sticky {
  top: 7px;
  height: 70px;
  z-index: 997; }

#sp-header {
  background: #fff; }

.sp-dropdown-inner {
  padding: 15px 20px !important;
  margin-top: 8px;
  width: 270px; }

.header-sticky .sp-dropdown-inner {
  margin-top: -2px; }

#sp-sectiondesmembres p {
  margin-bottom: 0; }

#sp-main-body {
  padding: 0; }

.sppb-btn-default {
  background: transparent;
  color: #394144;
  border: 2px solid #394144;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px; }

.sppb-btn-primary,
.sppb-readmore,
.readmore a,
#sp-bottom .sppb-btn-primary {
  background: #D22333;
  border: 1px solid #bb2e1b;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer; }

.sppb-readmore, .readmore a {
  padding: 8px; }

a.sppb-btn-primary:hover,
a.sppb-readmore:hover,
.readmore a:hover,
#sp-bottom .sppb-btn-primary:hover {
  background: #a02b1c;
  border: 1px solid #D22333;
  border-radius: 0;
  color: #fff;
  cursor: pointer; }

.sppb-btn-dark, .btn-dark {
  background: #CA402D;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-radius: 0; }

.sppb-btn-secondary {
  color: #fff;
  background-color: #D22333;
  border-color: #D22333;
  border-radius: 0; }

.sppb-btn-secondary:hover {
  color: #fff;
  background-color: #de4732;
  border-color: #D22333; }

#sp-title h2.sppb-addon-title,
.rq-sp-title h2.sppb-addon-title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 48px; }

.article-details .article-full-image {
  text-align: left; }

#sp-footer .container-inner {
  border-bottom: none;
  padding: 10px 0;
  border: 0; }

#sp-footer .container-inner p {
  line-height: normal;
  margin: 0; }

.rq-footer h5.sppb-addon-title {
  color: #D1D3D4;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px; }

.rq-footer p {
  color: #939598;
  font-size: 15px;
  font-weight: 500;
  line-height: 2; }

/*--------------TOPMENU Styling------------------*/
#sp-top2 .sp-module {
  float: right; }

#sp-top2 {
  text-align: right;
  padding-top: 0px;
  font-weight: bold;
  padding: 0; }

#sp-top2 ul {
  float: right;
  margin-bottom: 0;
  padding-left: 5px;
  margin-top: -1px; }

#sp-top2 ul li {
  float: left;
  list-style-type: none;
  margin: 0px 15px 0px 7px;
  text-align: right;
  padding-top: 2px; }

#sp-top2 ul li a {
  font-size: 13px;
  text-transform: uppercase;
  text-align: right;
  color: #BCBEC0; }

#sp-top2 ul li a.rq-button {
  background: #D22333;
  color: #fff;
  padding: 8px 10px; }

#sp-top2 ul li a.rq-button:hover {
  background: #D22333; }

#sp-top2 ul li:last-child {
  margin-right: 0; }

#sp-top2 ul li:last-child a {
  margin-right: 0; }

div#weather_sp1_id104,
div#weather_sp1_id205 {
  padding: 3px 0 0 0;
  color: #B1D044; }

.sp-module.rq-meteo {
  margin-left: -50px; }

.sp-module.meteo {
  margin-left: 13px; }

#sp-topmenu .sp-module.meteo a {
  color: #BCBEC0;
  opacity: 100;
  text-transform: uppercase;
  text-align: right;
  font-size: 13px; }

#sp-topmenu .sp-module.meteo a:hover {
  color: #D22333; }

img.spw_icon_big {
  display: none; }

.sp-module.rq-membername {
  margin-left: 15px;
  margin-top: 3px;
  color: #BCBEC0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px; }

.rq-membername span.player-handicap.badge {
  background: #D22333;
  color: #fff;
  vertical-align: text-top; }

#sp-top2 .weather_sp1_cright,
#sp-footer1 .weather_sp1_cright {
  display: none; }

#sp-top2 .weather_sp1_c,
#sp-footer1 .weather_sp1_c {
  margin: 0;
  padding: 0; }

#sp-footer1 .weather_sp1_c {
  line-height: 0; }

#sp-footer1 .weather_sp1_cleft {
  float: left;
  margin-right: 15px;
  margin-top: 3px; }

#sp-footer1 .rq-right .clearfix {
  position: relative;
  float: right; }

.rq-background-center .sppb-column-addons div {
  background-position: center; }

/*--------------CAROUSEL Styling------------------*/
.rq-home .sppb-item.sppb-item-has-bg .sppb-carousel-item-inner > div > div {
  display: table-cell;
  vertical-align: bottom; }

.rq-home p {
  line-height: normal;
  text-transform: uppercase; }

.rq-home .btn-white a {
  background: white;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #747B80;
  font-size: 14px;
  font-weight: bold; }

/*--------------MENU Styling------------------*/
.sp-megamenu-parent > li > a, .sp-megamenu-parent > li > span {
  display: inline-block;
  padding: 25px 8px 0px 8px;
  line-height: 47px;
  margin: 0;
  text-transform: uppercase; }

.sp-megamenu-parent > li.active > a {
  font-weight: 700; }

.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
  background: #ffffffdb; }

.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a {
  text-transform: uppercase; }

.sp-megamenu-parent > li > a, .sp-megamenu-parent > li > span,
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a {
  font-size: 13px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .sp-megamenu-parent > li > a, .sp-megamenu-parent > li > span,
  .sp-megamenu-parent .sp-dropdown li.sp-menu-item > a {
    font-size: 12px; }
  .sp-megamenu-parent > li > a,
  .sp-megamenu-parent > li > span {
    padding-left: 8px;
    padding-right: 8px; } }

.sp-megamenu-parent li.active:hover > a,
.sp-megamenu-parent li a:hover,
.sp-megamenu-parent li.active > a {
  background: url(../images/white_under.png) bottom left no-repeat; }

.header-sticky .sp-megamenu-parent li.active:hover > a,
.header-sticky .sp-megamenu-parent li a:hover,
.header-sticky .sp-megamenu-parent li.active > a {
  background: none; }

.sp-megamenu-parent .sp-dropdown li.active:hover > a,
.sp-megamenu-parent .sp-dropdown li a:hover,
.sp-megamenu-parent .sp-dropdown li.active > a {
  background: none; }

/*--------------Boxes Styling------------------*/
.rq-boxes a.sppb-btn-custom {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  max-height: 282px; }

.rq-boxes div.clearfix {
  max-height: 282px; }

.hoverzoom .sppb-addon-single-image-container {
  overflow: hidden; }

.hoverzoom a.sppb-modal-selector {
  overflow: hidden; }

.hoverzoom img.sppb-img-responsive,
.hoverzoom a.sppb-modal-selector img {
  -webkit-transition: all 400ms ease-in-out 0.1s;
  -o-transition: all 400ms ease-in-out 0.1s;
  transition: all 400ms ease-in-out 0.1s; }

.hoverzoom img.sppb-img-responsive:hover,
.hoverzoom a.sppb-modal-selector img:hover {
  -webkit-transform: scale(1.075);
  -ms-transform: scale(1.075);
  -o-transform: scale(1.075);
  transform: scale(1.075); }

/*-------------Accordeon Styling------------------*/
.sppb-addon-accordion .sppb-panel-title {
  font-weight: 500;
  color: #1F2021;
  font-size: 23px; }

.sppb-panel-default > .sppb-panel-heading {
  background: #f3f3f0; }

.sppb-addon-accordion .sppb-panel-body {
  padding: 0; }

.sppb-addon-accordion table tr td.rq-noborder {
  border: 0px; }

.sppb-addon-accordion table tr td {
  border-bottom: 1px solid #BCBEC0;
  padding: 5px 10px; }

.sppb-panel.sppb-panel-default {
  margin-top: 25px;
  border-top: 1px solid #e5e5e5; }

.sppb-panel-faq span.sppb-panel-title {
  font-weight: 500; }

.sppb-panel-faq .sppb-addon-text-block .sppb-addon-content {
  padding: 15px; }

.rq-tournois .sppb-panel-default .sppb-addon-content {
  padding: 0; }

.sppb-addon-accordion.rq-tournois table tr td {
  padding: 8px 15px; }

.rq-clubaff tr td {
  font-size: 16px;
  font-weight: 500;
  color: #747B80; }

.rq-clubaff tr td:first-child,
.rq-tournois tr td:first-child,
.rq-visiteurs tr:first-child,
.rq-table-title {
  text-transform: uppercase;
  color: #231F20; }

.rq-tournois table {
  width: 100%; }

@media (max-width: 650px) {
  .rq-tournois table {
    width: 80%; } }

.rq-table-subtitle {
  font-weight: bold; }

.rq-junior .sppb-panel-title {
  text-transform: uppercase;
  font-weight: 500; }

.sppb-addon-accordion.rq-junior table tr td {
  padding: 5px 15px; }

.sppb-addon-accordion.rq-junior table tr:first-child td {
  padding: 15px; }

.rq-junior .rq-noborder {
  padding-bottom: 0; }

/*--------------Membership Styling------------------*/
.rq-membership h3.sppb-addon-title {
  font-size: 50px;
  font-weight: 400;
  text-align: left; }

.rq-membership h3.sppb-addon-title::after {
  content: '';
  display: block;
  position: relative;
  bottom: 0;
  width: 16px;
  left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: none; }

/*--------------Tabs Styling------------------*/
.rq-tabs .sppb-addon-text-block .sppb-addon-content,
.rq-membership-block .sppb-addon-content {
  background: #F3F3F0;
  padding: 30px 30px 30px 45px;
  color: #747B80;
  font-size: 17px;
  font-weight: 500; }

.rq-tabs .sppb-tab-content.sppb-tab-tabs-content {
  padding: 0;
  margin: 0; }

.rq-tabs .sppb-nav-tabs-content ul, .sppb-addon-content > ul {
  list-style: none;
  padding-left: 15px; }

.rq-tabs .sppb-nav-tabs li a {
  background: #747B80;
  color: #AAACAC;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px; }

.rq-tabs .sppb-nav-tabs li a:hover {
  color: white; }

.rq-tabs .sppb-nav-tabs li.active a {
  background: #F3F3F0;
  color: #747B80; }

ul.sppb-nav.sppb-nav-tabs,
ul.sppb-nav.sppb-nav-tabs li:before,
.rq-verticaltabs .sppb-addon-content > ul li:before {
  content: " ";
  margin: 0;
  padding: 0; }

.rq-tabs .sppb-nav-tabs-content ul li:before,
.sppb-addon-content > ul li:before,
.rq-verticaltabs .sppb-addon-text-block .sppb-addon-content ul li:before {
  font-family: 'FontAwesome';
  content: '\f0da';
  margin: 0 10px 0 -17px;
  color: #747B80; }

.rq-barbill {
  font-weight: bold;
  font-size: 18px; }

.rq-tab-membership {
  color: #D22333;
  font-size: 20px;
  font-weight: bold;
  line-height: 2; }

.rq-tab-price {
  font-size: 48px;
  color: #D22333;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap; }

@media (min-width: 991px) and (max-width: 1199px) {
  .rq-tab-price {
    font-size: 34px; } }

@media (max-width: 767px) {
  .rq-tab-price {
    font-size: 34px; } }

.rq-tabs .sppb-btn-dark {
  margin: 30px 0px; }

a.btn-black.sppb-btn-dark {
  background: #1F2021;
  color: white; }

.rq-tab-renew {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0; }

.rq-promobox table, .rq-redbox table {
  border: 3px solid #D22333;
  color: #D22333;
  background: white; }

.rq-promobox p, .rq-redbox p {
  padding: 0;
  margin: 0;
  line-height: normal;
  font-size: 22px;
  font-weight: 500; }

.rq-promobox th {
  border-bottom: 2px solid #D22333;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px; }

.rq-promobox td, .rq-promobox th {
  padding: 10px 20px; }

.rq-redbox td {
  padding: 0px 15px; }

.rq-redbox .rq-table-title {
  color: #D22333;
  font-weight: bold; }

.rq-redbox tr:first-child td {
  padding: 15px 15px 5px 15px; }

.rq-redbox tr:last-child td {
  padding: 0px 15px 15px 15px; }

.rq-promo-price {
  font-size: 90px;
  font-weight: 500;
  padding: 0;
  margin: 0; }

.rq-promo-reg {
  font-size: 44px; }

.rq-tab-renew {
  font-size: 15px; }

.djslider-default .slider-container {
  float: left;
  display: block;
  position: relative; }

.djslider-default .navigation-container-custom, .djslider-default .navigation-numbers {
  position: relative;
  width: 100%;
  text-align: center;
  float: left; }

.rq-promoboutique table {
  border: 1px solid #747B80; }

.rq-promoboutique table tr td {
  padding: 10px;
  line-height: normal; }

.rq-fitting .pwebbox_toggler {
  margin: 0;
  width: auto;
  background: #1f2021;
  display: inline;
  text-transform: uppercase; }

.rq-fitting .dark .pwebbox_toggler {
  background: #1f2021;
  font-size: 14px;
  padding: 8px 12px; }

/*--------------Academie Styling------------------*/
.rq-academie .rq-number {
  background: #CA402D;
  height: 57px;
  width: 57px;
  display: block;
  color: white;
  font-size: 43px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding-top: 2px;
  line-height: normal;
  margin-right: 20px; }

.rq-academie td {
  color: #1F2021;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  margin: 0;
  line-height: 1.1; }

.rq-prix .sppb-addon-content:before {
  content: '';
  display: block;
  position: relative;
  bottom: 0;
  width: 30px;
  left: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid #212529; }

.rq-subtitle-red .sppb-addon-title {
  color: #CA402D;
  font-size: 52px;
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: normal; }

.rq-professionnels span.sppb-panel-title {
  font-size: 19px;
  color: #231F20; }

.rq-transport:before {
  background: url("/wp-content/themes/royalquebec/img/bus.png") no-repeat top transparent;
  height: 120px;
  width: 120px;
  content: " ";
  position: absolute;
  margin: -65px auto 25px auto;
  left: calc(50% - 60px);
  z-index: 1; }

.rq-camp {
  background: #4EAA33;
  color: white;
  text-transform: uppercase;
  font-size: 20px; }

.rq-camp a {
  border: 1px solid white; }

.rq-camp .sppb-btn-primary:hover,
.rq-camp a.sppb-btn-primary:hover {
  background: #fff;
  border-color: #fff;
  color: #212529; }

.rq-campfull {
  background: #F3F3F0;
  font-size: 20px;
  color: grey;
  text-transform: uppercase; }

.rq-campfull a {
  color: grey;
  width: 100%; }

.rq-campfull .sppb-btn-primary:hover,
.rq-campfull a.sppb-btn-primary:hover,
.rq-campfull a.sppb-readmore:hover,
.rq-campfull .readmore a:hover {
  background: #F3F3F0;
  color: grey;
  border: 1px solid grey;
  cursor: default; }

.sppb-flipbox-front .flip-box-inner {
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold; }

/*--------------News Styling------------------*/
.rq-news-category p {
  background: #D22333;
  color: white;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 1px;
  padding: 5px 15px;
  position: absolute;
  z-index: 888; }

.rq-mainnews h3 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 20px;
  text-transform: none; }

.sppb-addon-articles .sppb-article-meta > span {
  color: #888;
  display: inline-block;
  font-family: "Libre Baskerville", Times New Roman, serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 500; }

.rq-mainnews h5 {
  font-size: 19px;
  font-weight: bold;
  color: #231F20; }

.rq-mainnews p {
  font-size: 16px; }

.rq-nouvellesrafale p {
  background: #D22333;
  width: 100%;
  padding: 10px;
  color: white;
  display: inline;
  font-size: 17px; }

.rq-nouvellesrafale .sppb-addon-content {
  border-bottom: 1px solid #747b80;
  padding-bottom: 4px; }

.bt-cs h3 {
  color: #1f2021;
  line-height: initial;
  text-indent: 0;
  text-transform: uppercase;
  background: none;
  height: auto;
  border: none;
  margin: 0 !important; }

/*--------------Bottom Row Styling------------------*/
.rq-bottomrow h3.sppb-addon-title {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  font-weight: 500; }

.rq-bottomrow .sppb-addon-content {
  color: white;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  font-family: serif; }

/*--------------Sidebar - right  Styling------------------*/
aside#sp-right, aside#sp-right-gg {
  background: #F3F3F0;
  padding-bottom: 25px;
  margin-top: 16px; }

#sp-right .sp-module, #sp-right-gg .sp-module {
  margin-top: 0;
  padding: 25px 10px;
  border-bottom: 1px solid #747B80; }

#sp-right .sp-module h3.sp-module-title, #sp-right-gg .sp-module h3.sp-module-title {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin: 0 0 10px 0;
  padding: 0; }

label.element-invisible.finder {
  display: none; }

.form-search .finder .input-medium {
  width: 100%; }

#sp-right .sp-module.news, #sp-right-gg .sp-module.news {
  padding: 25px 10px;
  margin: 5px;
  border-bottom: 1px solid #747B80; }

#sp-right .sp-module ul > li.lnd_latestnews, #sp-right-gg .sp-module ul > li.lnd_latestnews {
  border-bottom: 0.5px dotted #747B80; }

#sp-right .sp-module ul > li.lnd_latestnews:last-child, #sp-right-gg .sp-module ul > li.lnd_latestnews:last-child {
  border-bottom: 0; }

#sp-right .rq-ln-date, #sp-right-gg .rq-ln-date {
  font-weight: bold;
  color: #747B80;
  font-size: 14px; }

#sp-right li.lnd_latestnews .rq-ln-link a, #sp-right-gg li.lnd_latestnews .rq-ln-link a {
  color: #747B80;
  font-weight: 500; }

#sp-right li.lnd_latestnews .rq-ln-link a:hover, #sp-right-gg li.lnd_latestnews .rq-ln-link a:hover {
  color: #D22333;
  font-weight: 500; }

#sp-right .custom h5, #sp-right-gg .custom h5 {
  margin: 15px 0px 6px 0px;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase; }

#sp-right .sp-module ul > li > a, #sp-right-gg .sp-module ul > li > a {
  display: inline; }

#sp-right .sp-module ul.lca li.lca, #sp-right-gg .sp-module ul.lca li.lca {
  margin-left: 0;
  padding: 0; }

#sp-right .sp-module ul.lca li.lca ul li, #sp-right-gg .sp-module ul.lca li.lca ul li {
  padding-left: 10px;
  margin-bottom: 5px; }

#sp-right .sp-module ul.lca a, #sp-right-gg .sp-module ul.lca a {
  font-size: 15px;
  line-height: 1; }

#sp-right p, #sp-right-gg p {
  margin-bottom: 0; }

/*--------------Gallery Styling------------------*/
span.speasyimagegallery-gallery-item-title {
  display: none; }

/*--------------Parcours Styling------------------*/
.rq-parcours h4.sppb-addon-title {
  color: #CA402D;
  font-size: 98px;
  font-weight: bold;
  border-bottom: none;
  margin-bottom: 0; }

.rq-parcours p {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0;
  margin: 0; }

#rq-royal .moduletableparcours-quebec {
  display: none; }

#rq-quebec .moduletableparcours-royal {
  display: none; }

.s5_tab_show_slide_button_inactive,
.s5_tab_show_slide_button_active {
  width: 40px;
  height: 38px;
  text-align: center;
  vertical-align: middle;
  border-radius: 25px; }

.s5_tab_show_slides_buttons > div:nth-child(n):before {
  color: #747B80;
  font-size: 17px;
  text-align: center; }

.s5_tab_show_slides_buttons > div:first-child:before {
  content: "1"; }

.s5_tab_show_slides_buttons > div:nth-child(2):before {
  content: "2"; }

.s5_tab_show_slides_buttons > div:nth-child(3):before {
  content: "3"; }

.s5_tab_show_slides_buttons > div:nth-child(4):before {
  content: "4"; }

.s5_tab_show_slides_buttons > div:nth-child(5):before {
  content: "5"; }

.s5_tab_show_slides_buttons > div:nth-child(6):before {
  content: "6"; }

.s5_tab_show_slides_buttons > div:nth-child(7):before {
  content: "7"; }

.s5_tab_show_slides_buttons > div:nth-child(8):before {
  content: "8"; }

.s5_tab_show_slides_buttons > div:nth-child(9):before {
  content: "9"; }

.s5_tab_show_slides_buttons > div:nth-child(10):before {
  content: "10"; }

.s5_tab_show_slides_buttons > div:nth-child(11):before {
  content: "11"; }

.s5_tab_show_slides_buttons > div:nth-child(12):before {
  content: "12"; }

.s5_tab_show_slides_buttons > div:nth-child(13):before {
  content: "13"; }

.s5_tab_show_slides_buttons > div:nth-child(14):before {
  content: "14"; }

.s5_tab_show_slides_buttons > div:nth-child(15):before {
  content: "15"; }

.s5_tab_show_slides_buttons > div:nth-child(16):before {
  content: "16"; }

.s5_tab_show_slides_buttons > div:nth-child(17):before {
  content: "17"; }

.s5_tab_show_slides_buttons > div:nth-child(18):before {
  content: "18"; }

.s5_tab_show_slides_buttons > div:last-child:before {
  content: ""; }

.s5_tab_show_slide_button_inactive {
  background: transparent;
  border-radius: 25px; }

.s5_tab_show_slide_button_active {
  background: #CA402D;
  color: white; }

.s5_tab_show_slides_buttons > div.s5_tab_show_slide_button_active:nth-child(n):before {
  color: #fff; }

.s5_tab_show_slide_button_inactive:hover {
  background: #CA402D; }

.s5_tab_show_slides_buttons > div:hover::before {
  color: #fff; }

/*-------Concours Photo------*/
.rq-cphoto-1er h6.sppb-addon-title, .rq-cphoto-2e h6.sppb-addon-title {
  position: absolute;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 );
  width: 100%;
  display: block;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-BOTTOM: 30px;
  color: WHITE;
  text-align: left;
  padding-left: 15px;
  margin-top: -59px; }

.rq-cphoto-1er.rq-2017 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2017-1.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-2e.rq-2017 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2017-2.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-1er.rq-2018 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2018-1.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-2e.rq-2018 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2018-2.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-1er.rq-2019 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2019-1.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-2e.rq-2019 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2019-2.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-1er.rq-2020 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2020-1.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-2e.rq-2020 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2020-2.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-1er.rq-2021 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2021-1.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-2e.rq-2021 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2021-2.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-1er.rq-2022 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2022-1.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-2e.rq-2022 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2022-2.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-1er.rq-2023 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2023-1.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-2e.rq-2023 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2023-2.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-1er.rq-2024 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2024-1.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-2e.rq-2024 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2024-2.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-1er.rq-2025 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2025-1.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-2e.rq-2025 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2025-2.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-1er.rq-2026 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2026-1.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-2e.rq-2026 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2026-2.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-1er.rq-2027 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2027-1.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-2e.rq-2027 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2027-2.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-1er.rq-2028 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2028-1.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-2e.rq-2028 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2028-2.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-1er.rq-2029 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2029-1.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-2e.rq-2029 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2029-2.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-1er.rq-2030 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2030-1.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

.rq-cphoto-2e.rq-2030 .sppb-addon-single-image-container:before {
  content: "";
  background: url(../images/2030-2.png) no-repeat;
  width: 140px;
  height: 198px;
  position: absolute;
  margin-left: 20px; }

/*-------Section Emplois------*/
/*
.rq-verticaltabs .sppb-tab-content.sppb-tab-custom-content {
    margin-top: -60px;
}*/
.rq-verticaltabs h3 {
  color: #c9402c;
  font-size: 44px;
  text-transform: none;
  font-weight: 400; }

.rq-verticaltabs ul.sppb-nav.sppb-nav-custom {
  padding: 0;
  margin: 0; }

/*-------Formulaires------*/
#sbox-window .ce-introtext,
.fancybox-skin .ce-introtext {
  color: white;
  padding: 0px 36px;
  font-size: 24px;
  font-weight: 500; }

#sbox-content {
  padding: 30px 25px 0px 25px;
  background: transparent; }

@media (max-width: 650px) {
  #sbox-content {
    padding: 10px 0px 0px 0px;
    background: transparent; } }

#sbox-window,
.fancybox-skin {
  background: rgba(0, 0, 0, 0.7); }

.pwebbox_container,
.dark .pwebbox_container,
.light .pwebbox_container,
.red .pwebbox_container,
.green .pwebbox_container {
  background: transparent;
  color: white; }

.ce-contact-email-copy-container label {
  color: white;
  padding-left: 15px; }

.contact-form textarea#message {
  padding: 5px 10px; }

.ce-cf-container .row-fluid label {
  width: 100%;
  clear: both;
  position: relative;
  display: block; }

.contact-form input[type="text"]:not(.form-control),
.contact-form input[type="email"]:not(.form-control),
.contact-form input[type="url"]:not(.form-control),
.contact-form input[type="date"]:not(.form-control),
.contact-form input[type="password"]:not(.form-control),
.contact-form input[type="search"]:not(.form-control),
.contact-form input[type="tel"]:not(.form-control),
.contact-form input[type="number"]:not(.form-control),
.contact-form select:not(.form-control) {
  border-radius: 0; }

.pwebbox_content .ce-checkbox-container.row-fluid label {
  cursor: default; }

.pwebbox_content .ce-checkbox-container.row-fluid label input {
  cursor: pointer; }

.sppb-panel-body .ce-contact-email-copy-container label {
  color: #1f2021;
  padding-left: 15px; }

.ce-module .ce-cf-container .inputbox {
  width: 100%; }

.ce-form h3 {
  margin-bottom: 10px;
  margin-top: 25px; }

button#cf_ce-submit-button {
  background: #D22333;
  color: white;
  border: none;
  float: right; }

button#cf_ce-submit-button:hover {
  background: #ea4b35; }

button#cf_ce-submit-button_reset {
  display: none; }

.sppb-addon-person .sppb-person-information > span.sppb-person-designation,
.sppb-addon-person .sppb-person-introtext {
  color: #747B80;
  font-size: 15px;
  font-weight: normal;
  margin: 0; }

.sppb-addon-person .sppb-person-information > span.sppb-person-email {
  color: #D22333;
  font-size: 15px;
  margin: 0;
  font-weight: normal; }

.rq-emploi .ce-contact-email-copy-container label {
  color: #4b4f52;
  padding-left: 15px; }

.rq-emploi span.btn.btn-default.fileinput-button {
  background: transparent;
  color: #394144;
  border: 2px solid #394144;
  border-radius: 0; }

.rq-emploi span.btn.btn-default.fileinput-button:hover {
  background: #1f2021;
  color: #fff;
  border: 2px solid #394144;
  border-radius: 0;
  cursor: pointer; }

.rq-emploi .progress-bar {
  background-image: linear-gradient(45deg, #D22333 25%, #b8331f 25%, #b8331f 50%, #D22333 50%, #D22333 75%, #b8331f 75%, #b8331f 100%);
  background-size: 56.57px 56.57px; }

.fade.text-success {
  opacity: 1;
  transition: opacity .15s linear; }

span.icon-minus-sign.glyphicon.glyphicon-minus-sign:before {
  content: "\f056";
  color: #D22333;
  height: 20px;
  width: 10px;
  font-family: FontAwesome;
  font-size: 20px;
  display: block;
  position: relative;
  margin-top: -13px; }

button.btn.btn-danger.btn-mini.btn-xs.delete {
  height: 35px;
  width: 35px;
  background: none;
  border: 0; }

.rq-emploi .requiredsign {
  display: none; }

li.fade p {
  border-bottom: 1px solid #a9a9a9;
  padding-bottom: 5px; }

.pwebbox_toggler {
  width: 100%;
  height: 38px;
  margin: 0;
  padding: 9px;
  background: #D22333; }

.rq-professionnels .pwebbox_toggler {
  margin-top: -68px; }

@media (max-width: 649px) {
  .rq-professionnels .pwebbox_toggler {
    margin-top: -48px; } }

.dark .pwebbox_toggler {
  TEXT-ALIGN: CENTER;
  background-color: #000000a6;
  background-image: none; }

.dark .pwebbox_toggler:hover {
  background-color: #000000d4; }

.green .pwebbox_toggler {
  background: transparent;
  width: auto;
  text-align: center;
  font-size: 15px;
  border: 1px solid #fff;
  background-position-x: initial;
  height: auto; }

.green .pwebbox_toggler:hover {
  background: white;
  color: #000; }

.red .pwebbox_toggler {
  width: 100%;
  height: 38px;
  margin: 0;
  padding: 9px; }

.rq-progjunior .red .pwebbox_toggler {
  height: auto; }

.red .pwebbox_toggler:hover {
  background: #e04732; }

.rq-junior .pwebbox-modal.pwebbox-static.pwebbox-offset-top.pwebbox-module.red.pwebbox-horizontal {
  float: right;
  margin-top: 25px;
  margin-right: 15px; }

.rq-contactbuttons .sppb-text-center .sppb-addon-content {
  display: inline-flex; }

.rq-contactbuttons .pwebbox_toggler,
.rq-contactbuttons .red .pwebbox_toggler {
  background: #D22333;
  margin-top: 0px;
  width: auto; }

.rq-contactbuttons .red .pwebbox_toggler:hover,
.rq-contactbuttons .pwebbox_toggler:hover {
  background: #e04732; }

/*
.rq-contactbuttons .red .pwebbox_toggler span.text::before,
.rq-contactbuttons .pwebbox_toggler span.text::before {
     content: "\f0e0";
     font-family: FontAwesome;
     margin-right: 10px
}*/
.rq-contactbuttons .light .pwebbox_toggler {
  background: transparent;
  border: 1px solid #1F2021;
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 20px;
  margin-right: 15px;
  font-weight: bold;
  height: auto; }

.rq-contactbuttons .light .pwebbox_toggler:hover {
  background: #D22333;
  color: white;
  border-color: white; }

/*-------Options GGGolf------*/
span.cG.sB.t2.aC {
  font-size: 18px;
  font-weight: normal;
  color: #3a453d; }

.calendarMain th, .calendarMain td {
  padding: 10px; }

.calendarMenuTop, .calendarMenuBottom, .calendarMenuTools {
  width: 100%; }

table.autogrid {
  font-weight: 400; }

.dayOfWeek {
  text-align: center;
  font-size: 16px;
  color: white;
  font-weight: 400;
  background-color: #1f1f20;
  text-transform: uppercase; }

.dayOfWeek:first-child {
  border-radius: 5px 0 0 0; }

.dayOfWeek:last-child {
  border-right: 1px solid #b7b7b7;
  border-radius: 0 5px 0 0; }

.currentMonth,
.otherMonth {
  text-align: left;
  color: #151515;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  border-right: 1px solid #b7b7b7;
  padding: 5px 10px 0px 10px; }

td.calendarDay {
  vertical-align: top;
  height: 80px;
  background-color: #ffffff;
  text-align: center;
  color: #000;
  padding: 5px;
  border-right: 1px solid #b7b7b7;
  line-height: 20px;
  font-size: 12px;
  border-bottom: 1px solid #b7b7b7; }

td.calendarDay:first-child,
.currentMonth, .otherMonth {
  border-left: 1px solid #b7b7b7; }

td.calendarDay div {
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 3px;
  width: auto;
  font-weight: 400;
  padding-left: 8px;
  line-height: 20px;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px; }

td.calendarDay a {
  display: block;
  border-radius: 5px;
  padding: 4px 8px;
  background: #fff;
  font-weight: 400;
  font-size: 14px;
  width: calc(100% + 8px);
  margin-left: -8px;
  margin-top: -4px;
  margin-bottom: -4px;
  box-shadow: none;
  cursor: pointer; }

td.calendarDay a:hover {
  background: #3a453d;
  background: -moz-linear-gradient(top, #ff482f 0%, #D22333 100%);
  background: -webkit-linear-gradient(top, #ff482f 0%, #D22333f 100%);
  background: linear-gradient(to bottom, #ff482f 0%, #D22333 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff482f', endColorstr='#D22333',GradientType=0 );
  /* IE6-9 */
  transition: all 300ms ease-out;
  color: #fff;
  text-decoration: none;
  cursor: pointer; }

@media (min-width: 650px) {
  td.calendarDay {
    height: 100px; } }

.cR, td .cR a {
  color: #D22333; }

/*-------Calendar GREEN Event------*/
.cZ.sN.tX.aC {
  background: url("../images/green.jpg") repeat-y left top #e9e9e9;
  color: #000; }

.cZ.sN.tX.aC a {
  background: url("../images/green.jpg") repeat-y left top #fff;
  color: #000;
  margin-left: -8px;
  padding-left: 10px; }

.cZ.sN.tX.aC a:hover {
  background-color: #018442;
  color: #fff; }

.cZ.sN.tX.aC :hover {
  background: #018442;
  color: #fff; }

/*-------Calendar PINK Event------*/
.cB.sB.t0.aC {
  background: url("../images/pink.jpg") repeat-y left top #e9e9e9;
  color: #000;
  font-weight: 400; }

.cB.sB.t0.aC a {
  background: url("../images/pink.jpg") repeat-y left top #fff;
  color: #000;
  margin-left: -8px;
  padding-left: 10px; }

.cB.sB.t0.aC a:hover {
  background-color: #ff42a2;
  color: #fff; }

.cB.sB.t0.aC :hover {
  background: #ff42a2;
  color: #fff; }

/*-------Calendar LIMEGREEN Event------*/
.cZ.sB.t6.aC {
  background: url("../images/limegreen.jpg") repeat-y left top #e9e9e9;
  color: #000;
  font-weight: 400; }

.cZ.sB.t6.aC a {
  background: url("../images/limegreen.jpg") repeat-y left top #fff;
  color: #000;
  margin-left: -8px;
  padding-left: 10px; }

.cZ.sB.t6.aC a:hover {
  background-color: #69ac21;
  color: #fff; }

.cZ.sB.t6.aC :hover {
  background: #69ac21;
  color: #fff; }

/*-------Calendar BLUE Event------*/
.cG.sB.t8.aC {
  background: url("../images/blue.jpg") repeat-y left top #e9e9e9;
  color: #000;
  font-weight: 400; }

.cG.sB.t8.aC a {
  background: url("../images/blue.jpg") repeat-y left top #fff;
  color: #000;
  margin-left: -8px;
  padding-left: 10px; }

.cG.sB.t8.aC a:hover {
  background-color: #398AE6;
  color: #fff; }

.cG.sB.t8.aC :hover {
  background: #398AE6;
  color: #fff; }

/*-------Calendar LIGHTBLUE Event------*/
.cG.sB.t4.aC {
  background: url("../images/lightblue.jpg") repeat-y left top #e9e9e9;
  color: #000;
  font-weight: 400; }

.cG.sB.t4.aC a {
  background: url("../images/lightblue.jpg") repeat-y left top #fff;
  color: #000;
  margin-left: -8px;
  padding-left: 10px; }

.cG.sB.t4.aC a:hover {
  background-color: #398AE6;
  color: #fff; }

.cG.sB.t4.aC :hover {
  background: #398AE6;
  color: #fff; }

/*-------Calendar ORANGE Event------*/
.cG.sB.t0.aC {
  background: url("../images/orange.jpg") repeat-y left top #e9e9e9;
  color: #000;
  font-weight: 400; }

.cG.sB.t0.aC a {
  background: url("../images/orange.jpg") repeat-y left top #fff;
  color: #000;
  margin-left: -8px;
  padding-left: 10px; }

.cG.sB.t0.aC a:hover {
  background-color: #FF7F00;
  color: #fff; }

.cG.sB.t0.aC :hover {
  background: #FF7F00;
  color: #fff; }

/*-------Calendar YELLOW-ORANGE Event------*/
.cB.sB.tX.aC {
  background: url("../images/yellorange.jpg") repeat-y left top #e9e9e9;
  color: #000;
  font-weight: 400; }

.cB.sB.tX.aC a {
  background: url("../images/yellorange.jpg") repeat-y left top #fff;
  color: #000;
  margin-left: -8px;
  padding-left: 10px; }

.cB.sB.tX.aC a:hover {
  background-color: #FF7F00;
  color: #fff; }

.cB.sB.tX.aC :hover {
  background: #FF7F00;
  color: #fff; }

/*-------Calendar TEAL Event------*/
.cR.sB.t0.aC {
  background: url("../images/teal.jpg") repeat-y left top #e9e9e9;
  color: #000;
  font-weight: 400; }

.cR.sB.t0.aC a {
  background: url("../images/teal.jpg") repeat-y left top #fff;
  color: #000;
  margin-left: -8px;
  padding-left: 10px; }

.cR.sB.t0.aC a:hover {
  background-color: #37C4A4;
  color: #fff; }

.cR.sB.t0.aC :hover {
  background: #37C4A4;
  color: #fff; }

/*-------Calendar RED Event------*/
.cB.sB.t2.aC {
  background: url("../images/red.jpg") repeat-y left top #e9e9e9;
  color: #000;
  text-align: center;
  font-weight: 400; }

.cB.sB.t2.aC a {
  background: url("../images/red.jpg") repeat-y left top #fff;
  color: #000;
  margin-left: -8px;
  padding-left: 10px;
  text-align: center; }

.cB.sB.t2.aC a:hover {
  background-color: #ff0000;
  color: #000;
  text-align: center; }

.cB.sB.t2.aC :hover {
  background: #ff0000;
  color: #000;
  text-align: center; }

/*-------Calendar INDIGO Event------*/
.cB.sN.t0.aL {
  background: url("../images/indigo.jpg") repeat-y left top #e9e9e9;
  color: #000;
  text-align: center; }

.cB.sN.t0.aL a {
  background: url("../images/indigo.jpg") repeat-y left top #fff;
  color: #000;
  margin-left: -8px;
  padding-left: 10px;
  text-align: center; }

.cB.sN.t0.aL a:hover {
  background-color: #00295d;
  color: #fff;
  text-align: center; }

.cB.sN.t0.aL :hover {
  background: #00295d;
  color: #fff;
  text-align: center; }

/*-------Calendar MY EVENTS Event------*/
.cR.sN.tX.aC {
  background: url("../images/black.jpg") repeat-y left top #e9e9e9;
  color: #000; }

.cR.sN.tX.aC a {
  background: url("../images/black.jpg") repeat-y left top #fff;
  color: #000;
  margin-left: -8px;
  padding-left: 10px; }

.cR.sN.tX.aC a:hover {
  background-color: #000;
  color: #fff; }

.cR.sN.tX.aC :hover {
  background: #000;
  color: #fff; }

/*-------Calendar PURPLE Event------*/
.cZ.sN.tX.aR {
  background: url("../images/purple.jpg") repeat-y left top #e9e9e9;
  color: #000;
  text-align: center; }

.cZ.sN.tX.aR a {
  background: url("../images/purple.jpg") repeat-y left top #fff;
  color: #000;
  margin-left: -8px;
  padding-left: 10px;
  text-align: center; }

.cZ.sN.tX.aR a:hover {
  background-color: #00295d;
  color: #fff;
  text-align: center; }

.cZ.sN.tX.aR :hover {
  background: #00295d;
  color: #fff;
  text-align: center; }

/*-------Calendar LILAC Event------*/
.cZ.sN.t4.aR {
  background: url("../images/lilac.jpg") repeat-y left top #e9e9e9;
  color: #000;
  text-align: center; }

.cZ.sN.t4.aR a {
  background: url("../images/lilac.jpg") repeat-y left top #fff;
  color: #000;
  margin-left: -8px;
  padding-left: 10px;
  text-align: center; }

.cZ.sN.t4.aR a:hover {
  background-color: #cfb5ff;
  color: #fff;
  text-align: center; }

.cZ.sN.t4.aR :hover {
  background: #cfb5ff;
  color: #fff;
  text-align: center; }

/*-------Calendar LIGHT PINK Event------*/
.cB.sB.t6.aC {
  background: url("../images/lightpink.jpg") repeat-y left top #e9e9e9;
  color: #000;
  text-align: center;
  font-weight: 400; }

.cB.sB.t6.aC a {
  background: url("../images/lightpink.jpg") repeat-y left top #fff;
  color: #000;
  margin-left: -8px;
  padding-left: 10px;
  text-align: center; }

.cB.sB.t6.aC a:hover {
  background-color: #e98bc7;
  color: #fff;
  text-align: center; }

.cB.sB.t6.aC :hover {
  background: #e98bc7;
  color: #fff;
  text-align: center; }

/*-------Calendar WINE RED Event------*/
.cB.sB.t8.aC {
  background: url("../images/wine.jpg") repeat-y left top #e9e9e9;
  color: #000;
  text-align: center;
  font-weight: 400; }

.cB.sB.t8.aC a {
  background: url("../images/wine.jpg") repeat-y left top #fff;
  color: #000;
  margin-left: -8px;
  padding-left: 10px;
  text-align: center; }

.cB.sB.t8.aC a:hover {
  background-color: #620c27;
  color: #fff;
  text-align: center; }

.cB.sB.t8.aC :hover {
  background: #620c27;
  color: #fff;
  text-align: center; }

/*-------Calendar BRIGHT YELLOW Event------*/
.cG.sB.tX.aL {
  background: url("../images/brightyellow.jpg") repeat-y left top #e9e9e9;
  color: #000;
  text-align: center;
  font-weight: 400; }

.cG.sB.tX.aL a {
  background: url("../images/brightyellow.jpg") repeat-y left top #fff;
  color: #000;
  margin-left: -8px;
  padding-left: 10px;
  text-align: center; }

.cG.sB.tX.aL a:hover {
  background-color: #00295d;
  color: #fff;
  text-align: center; }

.cG.sB.tX.aL :hover {
  background: #00295d;
  color: #fff;
  text-align: center; }

/*-------Calendar GREY Event------*/
.cB.sB.t4.aC {
  background: url("../images/grey.jpg") repeat-y left top #e9e9e9;
  color: #000;
  text-align: center;
  font-weight: 400; }

.cB.sB.t4.aC a {
  background: url("../images/grey.jpg") repeat-y left top #fff;
  color: #000;
  margin-left: -8px;
  padding-left: 10px;
  text-align: center; }

.cB.sB.t4.aC a:hover {
  background-color: #555555;
  color: #fff;
  text-align: center; }

.cB.sB.t4.aC :hover {
  background: #555555;
  color: #fff;
  text-align: center; }

.autogridTitle select {
  text-align: center;
  margin: auto; }

tr.autogridTitle, tr.autogridTools {
  background: #171717;
  color: white;
  font-weight: 300; }

tr.autogridHeader th a {
  color: white;
  text-decoration: underline; }

table.autogrid-grid thead > tr.autogridTools > th {
  border-radius: 10px 10px 0 0;
  border: none; }

table.autogrid-grid thead > tr.autogridTitle > th {
  border-bottom: none;
  font-weight: 300;
  font-size: 14px;
  padding: 5px;
  text-align: center; }

table.autogrid-grid thead > tr.autogridTitle > th a {
  color: white;
  background: #1f2022;
  padding: 10px;
  width: auto;
  display: inline-block;
  border-radius: 5px; }

table.autogrid-grid thead > tr.autogridTitle > th a:hover {
  background: #1f2022; }

table.autogrid-grid thead > tr.autogridTitle > th a:before {
  content: "\f067";
  font-family: "FontAwesome";
  margin-right: 5px; }

table.autogrid-grid thead > tr.autogridHeader > th {
  background: #1f2022;
  color: white;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase; }

table.autogrid.autogrid-form.dataTable {
  border: 1px solid whitesmoke;
  padding: 0px 15px;
  border-radius: 5px; }

thead th.cX.sN.t4.aC {
  font-size: 22px;
  text-transform: uppercase; }

table.autogrid-grid tr td:first-child {
  padding-left: 8px; }

table.autogrid-grid thead > tr.autogridHeader > th:first-child {
  padding-left: 8px; }

table.autogrid-grid tr td {
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #f1f1f1;
  padding: 5px 0px; }

tr.autogridOdd {
  background: #fdfdfd; }

tr.autogridEven:hover,
tr.autogridOdd:hover {
  background: #ececec; }

.autogrid-grid img {
  margin: auto; }

.autogrid-grid tr.autogridTools img {
  float: right;
  margin: 5px; }

.autogrid-grid a.btn.btn-xs.btn-more {
  color: #fff;
  padding: 2px 5px;
  margin-left: 2px;
  cursor: pointer;
  background: #b59f6e;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #b59f6e 0%, #94825b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #b59f6e 0%, #94825b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #b59f6e 0%, #94825b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258e3d', endColorstr='#2ba84a',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.autogridButton input[type="submit"] {
  text-decoration: none;
  border: 2px solid #1f2022;
  background-color: transparent;
  color: #1f2022;
  padding: 5px 10px;
  cursor: pointer;
  text-transform: uppercase; }

.autogridButton input[type="submit"]:hover {
  border: 2px solid #D22333;
  background-color: #D22333;
  color: white; }

.alert.alert-notice {
  background: #ffff0040;
  border-radius: 5px;
  border: 1px solid #e6e600; }

.tt-player.tt-player-nomobile tbody tr td:first-child {
  text-align: center; }

.teetime-title.tt-line.teetimesTitle {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400; }

a.ttCancelFoursome.tt-cancel-btn {
  cursor: pointer;
  background: #D22333;
  padding: 7px 10px;
  border-radius: 5px;
  color: white; }

a.ttCancelFoursome.tt-cancel-btn:before {
  font-family: "FontAwesome";
  content: "\f056";
  margin-right: 5px; }

input.ttSubmit, input.pgSubmit {
  cursor: pointer;
  background: #D22333;
  padding: 7px 10px;
  border-radius: 5px;
  color: white;
  border-style: none;
  margin: 0; }

.pg-line input[type="text"]:not(.form-control),
.pg-line input[type="email"]:not(.form-control),
.pg-line input[type="url"]:not(.form-control),
.pg-line input[type="date"]:not(.form-control),
.pg-line input[type="password"]:not(.form-control),
.pg-line input[type="search"]:not(.form-control),
.pg-line input[type="tel"]:not(.form-control),
.pg-line input[type="number"]:not(.form-control),
.pg-line select:not(.form-control) {
  width: auto; }

.pg-hole-info input {
  margin: auto; }

.pg-line .pg-tournament-line {
  padding-left: 30%; }

.teetimes_results.row {
  margin: 0px 5px; }

.teetimes_results-headerrow.row {
  background: #3a453d;
  padding: 5px;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  border-radius: 5px 5px 0 0;
  text-align: center; }

.teetimes_results-lineblock.teetimes_results-action {
  padding: 8px 0;
  cursor: pointer;
  font-size: 16px;
  border-bottom: 1px solid #9fbba6; }

.teetimes_results-lineblock.teetimes_results-action:hover {
  background: #9fbba68a; }

.teetimes_results-lineblock.teetimes_results-action div {
  text-align: center;
  font-size: 16px; }

span.teetimes_result-price-wrapper {
  background: #b59f6e;
  padding: 5px 8px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid #b59f6e; }

span.teetimes_result-price-wrapper:hover {
  background: #3a453d;
  border: 2px solid #fff;
  color: #fff; }

.teetimes_confirm_terms_club {
  border: 1px solid #9fbba6;
  padding: 15px;
  background: #9fbba67a;
  border-radius: 5PX;
  color: #3a453d; }

@media (min-width: 650px) and (max-width: 1025px) {
  #sp-main-body {
    padding: 0px 10px; }
  th.dayOfWeek {
    font-size: 14px; }
  .calendarMain th, .calendarMain td {
    margin: 0;
    padding: 2px; }
  td.calendarDay div {
    padding: 0;
    margin: 0; }
  td.calendarDay a {
    margin: 0;
    padding: 0; }
  .cB.sB.t0.aC, td.calendarDay .calendarPink,
  .cZ.sN.tX.aC, td.calendarDay .calendarGreen,
  .cZ.sB.t6.aC, td.calendarDay .calendarLimegreen,
  .cG.sB.t8.aC, td.calendarDay .calendarBlue,
  .cG.sB.t4.aC, td.calendarDay .calendarLightblue,
  .cG.sB.t0.aC, td.calendarDay .calendarOrange,
  .cB.sB.tX.aC, td.calendarDay .calendarYellorange,
  .cR.sB.t0.aC, td.calendarDay .calendarTeal,
  .cB.sB.t2.aC, td.calendarDay .calendarRed,
  .cB.sN.t0.aL, td.calendarDay .calendarIndigo,
  .cR.sN.tX.aC, td.calendarDay .calendarBlack,
  .cZ.sN.tX.aR, td.calendarDay .calendarPurple,
  .cZ.sN.t4.aR, td.calendarDay .calendarLilac,
  .cG.sB.tX.aL, td.calendarDay .calendarBrightyellow,
  .cB.sB.t4.aC, td.calendarDay .calendarGrey {
    background-position-x: -4px;
    margin-bottom: 4px; }
  .cB.sB.t0.aC a, td.calendarDay .calendarPink a,
  .cZ.sN.tX.aC a, td.calendarDay .calendarGreen a,
  .cZ.sB.t6.aC a, td.calendarDay .calendarLimegreen a,
  .cG.sB.t8.aC a, td.calendarDay .calendarBlue a,
  .cG.sB.t4.aC a, td.calendarDay .calendarLightblue a,
  .cG.sB.t0.aC a, td.calendarDay .calendarOrange a,
  .cB.sB.tX.aC a, td.calendarDay .calendarYellorange a,
  .cR.sB.t0.aC a, td.calendarDay .calendarTeal a,
  .cB.sB.t2.aC a, td.calendarDay .calendarRed a,
  .cB.sN.t0.aL a, td.calendarDay .calendarIndigo a,
  .cR.sN.tX.aC a, td.calendarDay .calendarBlack a,
  .cZ.sN.tX.aR a, td.calendarDay .calendarPurple a,
  .cZ.sN.t4.aR a, td.calendarDay .calendarLilac a,
  .cG.sB.tX.aL a, td.calendarDay .calendarBrightyellow a,
  .cB.sB.t4.aC a, td.calendarDay .calendarGrey a {
    padding-left: 0;
    margin-left: 0;
    background-position-x: -4px;
    width: auto; } }

@media only screen and (max-width: 455px) {
  .pg-line .pg-tournament-line {
    padding-left: 0%; } }

@media (max-width: 649px) {
  td.calendarDay {
    background: whitesmoke;
    border: 0;
    padding: 0;
    margin: 0px;
    padding-bottom: 10px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 2px; }
  td.calendarDay:first-child,
  .currentMonth,
  .otherMonth {
    border: none;
    margin: 0;
    margin-bottom: 2px; }
  td.calendarDay:before {
    background: #1f1f20;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    color: white;
    text-transform: uppercase;
    font-weight: 400; }
  td.calendarDay div {
    margin: 5px 15px;
    padding: 15px 5px;
    font-size: 18px; }
  td.calendarDay div a {
    font-size: 18px;
    margin: -15px -5px;
    padding: 15px 5px;
    width: auto; }
  form.tt-form.dcPrevention {
    padding: 10px; } }

.com-ggmember table img {
  display: inline; }

.sppb-addon-content ul.sppb-gallery li:before {
  content: " "; }

.rq-membername .form-inline {
  display: none; }

#sp-left-gg .sp-module {
  background: #f3f3f0;
  margin-bottom: 10px;
  padding: 20px; }

#sp-left-gg .sp-module h3.sp-module-title {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin: 0 0 10px 0;
  padding: 0; }

#sp-left-gg .btn-primary, .sppb-btn-primary {
  border-color: #D22333 !important;
  background-color: #D22333 !important;
  border-radius: 0px !important; }

#sp-left-gg .btn-primary:hover, .sppb-btn-primary:hover {
  border-color: #8f2e1b !important;
  background-color: #8f2e1b !important; }

/*---------------------------------- ANNUAIRE DES MEMBRES STYLE ----------------------------------*/
.mdDetails.directoryDetails {
  border: 1px solid #d3d2ce;
  border-width: 1px;
  padding: 20px;
  border-style: solid;
  background-color: #EFEFEF;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2), 0 3px 13px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 45px;
  margin-top: 20px; }

/*.mdZoneSwitchMode {
    margin-bottom: -24px;
    }*/
div#mdZoneDetails {
  margin-top: -55px; }

.directorySwitchMode {
  text-align: right;
  margin-bottom: 0;
  margin-top: 35px; }

div#mdDetailSpouse,
div#mdDetailParents,
div#mdDetailChildren {
  border: 1px solid #d3d2ce;
  border-width: 1px;
  padding: 20px;
  border-style: solid;
  background-color: #EFEFEF;
  box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.2), 0 3px 13px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px; }

.mdTab.directoryDetailTabContainer a:first-child {
  margin-left: 10px; }

.mdTab.directoryDetailTabContainer a {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top: 1px solid #d3d2ce;
  border-left: 1px solid #d3d2ce;
  border-right: 1px solid #d3d2ce;
  border-bottom: none;
  background-color: #EFEFEF;
  box-shadow: 7px 0 5px -2px rgba(0, 0, 0, 0.2), inset 0 -10px 20px -13px rgba(0, 0, 0, 0.5);
  color: black;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 4px;
  padding-right: 20px; }

.mdTab.directoryDetailTabContainer a.directoryDetailTabSelected {
  padding-bottom: 5px;
  box-shadow: 7px -1px 5px -2px rgba(0, 0, 0, 0.2); }

.directorydetails.directoryAddFavorite {
  margin-top: 30px; }

.directoryGrid.directoryAddFavorite a {
  background-color: black;
  padding: 8px 10px;
  color: white !important; }

.directoryGrid.directoryAddFavorite, .directoryGrid.directoryDelFavorite {
  margin-top: 10px;
  margin-bottom: 10px; }

div#mdZoneList a {
  color: black;
  font-weight: 700; }

.directoryEmailIcon {
  background-image: url("/royalquebec/images/envelope.png");
  background-repeat: no-repeat;
  max-width: 26px;
  max-height: 25px;
  background-size: contain;
  margin-right: 15px; }

.directoryFavoriteSection .directoryAddFavoriteIco {
  background-image: url("/royalquebec/images/user.png");
  background-repeat: no-repeat;
  max-width: 25px;
  max-height: 25px;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-right: 15px; }

.directoryAddFavoriteInactive .directoryAddFavoriteInactiveIco {
  background-image: url("/royalquebec/images/person-in-annuaire.png");
  background-repeat: no-repeat;
  max-width: 25px;
  max-height: 25px;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-right: 15px; }

.directoryFavoriteSection .directoryDelFavoriteIco {
  background-image: url("/royalquebec/images/remove-from-annuaire.png");
  background-repeat: no-repeat;
  max-width: 25px;
  max-height: 25px;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-right: 15px; }

.wrapper input[type="text"] {
  position: relative; }

.wrapper input[type="text"]:before {
  font-family: 'FontAwesome';
  position: absolute;
  top: 0px;
  left: -5px;
  content: "\f007"; }

.mdMember.directoryGrid.directoryMember.mdMember.directoryGrid.directoryMember {
  margin: 10px;
  background: #f3f3f0;
  padding: 0; }

.mdMember {
  width: 23%; }

.mdMember .mdPhoto {
  width: 266px;
  height: 254px;
  padding: 0px 0px;
  object-fit: cover; }

@media (max-width: 590px) {
  .mdMember {
    width: 47%; }
  .mdFourth {
    width: 100%; }
  .mdFourth > * {
    width: 50%;
    display: block;
    margin: 0 auto; } }

@media (max-width: 300px) {
  .mdMember {
    width: 98%; }
  .mdFourth > * {
    width: 90%; } }

.directoryFavoriteSection {
  justify-content: flex-end; }

.mdEmail.directoryEmail {
  justify-content: flex-end;
  width: 100%; }

.directoryPhoneCell {
  width: 100%; }

.directoryGrid.directoryName {
  font-size: 16px;
  padding: 10px 15px 0px 15px;
  font-weight: 400;
  text-align: left; }

@media (max-width: 1200px) {
  .mdMember .mdPhoto {
    padding: 0px 0px; } }

.directoryPhoneCell {
  margin-top: -2px;
  height: 24px; }

@media (max-width: 1200px) {
  .directoryPhoneCell {
    margin-top: -4px;
    line-height: 13px; } }

.mdZoneSwitchMode a {
  text-align: center; }

.directoryAddFavorite {
  width: 100%; }

.modulerepertoire {
  background: #f3f3f0;
  padding-bottom: 20px; }

#mdZoneFilters {
  margin-top: -110px;
  padding: 50px 0px 25px; }

.mdDetails.directoryDetails img.mdPhoto {
  width: 300px;
  height: auto; }

main#sp-component {
  z-index: 88; }

.directoryDetail.directoryName {
  font-size: 23px; }

a.mdPointer.directoryCloseDetails {
  color: white; }

a.mdPointer.directoryCloseDetails {
  margin-bottom: 50px; }

#mdZoneDetails .mdFull {
  margin-bottom: 54px; }

#ui-datepicker-div {
  z-index: 19999 !important; }

#sp-top2 .player-gamespercentage {
  display: none; }

#sp-top-membres .sp-module.meteo a {
  color: #00000000;
  opacity: 0; }

#sp-top-membres, #sp-top-membres ul li, #sp-top-membres ul li a, #sp-top-membres .player-name {
  color: white; }

#sp-top-membres .player {
  margin-right: 0;
  padding-right: 0px; }

#sp-accesmembre .logout-button {
  margin-top: -10px; }

.mod-languages a img {
  height: 16px;
  margin-top: 7px; }
