.rq-membership h3.sppb-addon-title {
  font-size: 50px;
  font-weight: 400;
  text-align: left; }

.rq-membership h3.sppb-addon-title::after {
  content: '';
  display: block;
  position: relative;
  bottom: 0;
  width: 16px;
  left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: none; }

/*--------------Tabs Styling------------------*/
.rq-tabs .sppb-addon-text-block .sppb-addon-content,
.rq-membership-block .sppb-addon-content {
  background: #F3F3F0;
  padding: 30px 30px 30px 45px;
  color: #747B80;
  font-size: 17px;
  font-weight: 500; }

.rq-tabs .sppb-tab-content.sppb-tab-tabs-content {
  padding: 0;
  margin: 0; }

.rq-tabs .sppb-nav-tabs-content ul, .sppb-addon-content > ul {
  list-style: none;
  padding-left: 15px; }

.rq-tabs .sppb-nav-tabs li a {
  background: #747B80;
  color: #AAACAC;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px; }

.rq-tabs .sppb-nav-tabs li a:hover {
  color: white; }

.rq-tabs .sppb-nav-tabs li.active a {
  background: #F3F3F0;
  color: #747B80; }

ul.sppb-nav.sppb-nav-tabs,
ul.sppb-nav.sppb-nav-tabs li:before,
.rq-verticaltabs .sppb-addon-content > ul li:before {
  content: " ";
  margin: 0;
  padding: 0; }

.rq-tabs .sppb-nav-tabs-content ul li:before,
.sppb-addon-content > ul li:before,
.rq-verticaltabs .sppb-addon-text-block .sppb-addon-content ul li:before {
  font-family: 'FontAwesome';
  content: '\f0da';
  margin: 0 10px 0 -17px;
  color: #747B80; }

.rq-barbill {
  font-weight: bold;
  font-size: 18px; }

.rq-tab-membership {
  color: #1D2836;
  font-size: 20px;
  font-weight: bold;
  line-height: 2; }

.rq-tab-price {
  font-size: 48px;
  color: #1D2836;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap; }

@media (min-width: 991px) and (max-width: 1199px) {
  .rq-tab-price {
    font-size: 34px; } }

@media (max-width: 767px) {
  .rq-tab-price {
    font-size: 34px; } }

.rq-tabs .sppb-btn-dark {
  margin: 30px 0px; }

a.btn-black.sppb-btn-dark {
  background: #1F2021;
  color: white; }

.rq-tab-renew {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0; }

.rq-promobox table, .rq-redbox table {
  border: 3px solid #1D2836;
  color: #1D2836;
  background: white; }

.rq-promobox p, .rq-redbox p {
  padding: 0;
  margin: 0;
  line-height: normal;
  font-size: 22px;
  font-weight: 500; }

.rq-promobox th {
  border-bottom: 2px solid #1D2836;
  text-transform: uppercase;
  text-align: center;
  font-size: cl(22px, 30px); }

.rq-promobox td, .rq-promobox th {
  padding: 10px 20px; }

.rq-redbox td {
  padding: 0px 15px; }

.rq-redbox .rq-table-title {
  color: #1D2836;
  font-weight: bold; }

.rq-redbox tr:first-child td {
  padding: 15px 15px 5px 15px; }

.rq-redbox tr:last-child td {
  padding: 0px 15px 15px 15px; }

.rq-promo-price {
  font-size: cl(50px, 90px);
  font-weight: 500;
  padding: 0;
  margin: 0; }

.rq-promo-reg {
  font-size: cl(30px, 44px); }

.rq-tab-renew {
  font-size: 15px; }

.djslider-default .slider-container {
  float: left;
  display: block;
  position: relative; }

.djslider-default .navigation-container-custom, .djslider-default .navigation-numbers {
  position: relative;
  width: 100%;
  text-align: center;
  float: left; }

.rq-promoboutique table {
  border: 1px solid #747B80; }

.rq-promoboutique table tr td {
  padding: 10px;
  line-height: normal; }

.rq-fitting .pwebbox_toggler {
  margin: 0;
  width: auto;
  background: #1f2021;
  display: inline;
  text-transform: uppercase; }

.rq-fitting .dark .pwebbox_toggler {
  background: #1f2021;
  font-size: 14px;
  padding: 8px 12px; }
