[vc_section][vc_row el_class="section container"][vc_column offset="vc_col-lg-offset-0"][vc_row_inner][vc_column_inner el_class="mb-4" width="1/2"][vc_column_text el_class="mb-2"]
<h3>Tournois de golf</h3>
[/vc_column_text][vc_column_text el_class="mb-2 "]
<h6>L’endroit idéal pour vos tournois</h6>
[/vc_column_text][vc_column_text]Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.[/vc_column_text][vc_btn title="CONTACTEZ-NOUS POUR UNE RÉSERVATION" align="left" el_class="btn"][/vc_column_inner][vc_column_inner el_class="mb-3" width="1/2"][vc_single_image image="604" img_size="full" alignment="center" el_class="pt-auto pl-auto pr-auto pr-lg-0 pl-lg-0"][/vc_column_inner][/vc_row_inner][/vc_column][/vc_row][/vc_section][vc_section][vc_row][vc_column][image_text_overlay custom_title="Organisez votre événement" custom_subtitle="AU ROYAL QUÉBEC" custom_image="595"][/vc_column][/vc_row][/vc_section][vc_row el_class="section container"][vc_column offset="vc_col-lg-offset-0"][vc_row_inner][vc_column_inner el_class="mb-4 pr-4" width="2/3"][vc_column_text el_class="mb-2"]
<h3>Autres événements</h3>
[/vc_column_text][vc_column_text]Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero e duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. [/vc_column_text][vc_btn title="CONTACTEZ-NOUS POUR UNE RÉSERVATION" align="left" el_class="btn"][/vc_column_inner][vc_column_inner el_class="mb-3" width="1/3"][vc_column_text el_class="mb-2 "]
<h6>Thématiques offertes</h6>
[/vc_column_text][vc_column_text css=".vc_custom_1646334664932{background-color: #f3f3f0 !important;}" el_class="p-2 mb-2"]
<p class="line-height-normal"><strong>FÊTE DES MÈRES</strong></p>
<p>
    <a class="fw-700" href="#">TÉLÉCHARGER LE MENU</a>
</p>
[/vc_column_text][vc_column_text el_class="p-2 mb-1p-2 mb-2" css=".vc_custom_1646334668128{background-color: #f3f3f0 !important;}"]
<p class="line-height-normal "><strong>FÊTE DES MÈRES</strong></p>
<p>
    <a class="fw-700" href="#">TÉLÉCHARGER LE MENU</a>
</p>
[/vc_column_text][/vc_column_inner][/vc_row_inner][/vc_column][/vc_row][vc_section][vc_row][vc_column][image_text_overlay custom_title="Un mariage inoubliable" custom_subtitle="AU ROYAL QUÉBEC" custom_image="627"][/vc_column][/vc_row][/vc_section][vc_section][vc_row][vc_column][image_text custom_image_position="true" custom_btn="url:%23|title:En%20savoir%20plus" custom_title="L’endroit idéal pour célébrer votre mariage" custom_content="Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat." custom_image="592"][/vc_column][/vc_row][/vc_section][vc_section][vc_row][vc_column][image_text custom_btn="url:%23|title:En%20savoir%20plus" custom_title="Le pavillon du club permet d’accueillir jusqu’à 200 convives" custom_content="Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat." custom_image="591"][/vc_column][/vc_row][/vc_section]
