/*
  Add text transform utilities class
 */
.text {
  &-uppercase {
    text-transform: uppercase !important;
  }
  &-lowercase {
    text-transform: lowercase !important;
  }
  &-capitalize {
    text-transform: capitalize !important;
  }
}

/*
  Add text align utilities class
 */
.text-align {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
  &-justify {
    text-align: justify;
  }
}


@include media-breakpoint-up(lg) {
  .text-align-lg-left {
    text-align: left;
  }
}

/*
  Add border utilities class
 */
.border {
  border: 0.5px solid #e3e3e3 !important;

  &-left {
    border-left: 0.5px solid #e3e3e3 !important;
  }
  &-right {
    border-right: 0.5px solid #e3e3e3 !important;
  }
  &-top {
    border-top: 0.5px solid #e3e3e3 !important;
  }
  &-bottom {
    border-bottom: 0.5px solid #e3e3e3 !important;
  }
  &-round {
    border-radius: 50%;
  }
}

/*
  Add font-weight utilities class
 */
.fw {
  &-300 {
    font-weight: 300 !important;
  }
  &-400 {
    font-weight: 400 !important;
  }
  &-500 {
    font-weight: 500 !important;
  }
  &-600 {
    font-weight: 600 !important;
  }
  &-700 {
    font-weight: 700 !important;
  }
  &-800 {
    font-weight: 800 !important;
  }
}

/*
  Add color utilities class
 */
.color {
  &-white {
    color: #fff !important;
  }

  &-black {
    color: #000 !important;
  }

  &-accent {
    color: theme-color('accent') !important;
  }

  &-secondary {
    color: theme-color('secondary') !important;
  }

  &-primary {
    color: theme-color('primary') !important;
  }

  &-light {
    color: theme-color('light') !important;
  }
}

/*
  Add background color utilities class
 */
.bg {
  &-accent {
    background-color: theme-color('accent') !important;
  }
  &-secondary {
    background-color: theme-color('secondary') !important;
  }
  &-primary {
    background-color: theme-color('primary') !important;
  }
  &-light {
    background-color: theme-color('light') !important;
  }
  &-white {
    background-color: #fff !important;
  }
  &-black {
    background-color: #000 !important;
  }
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.fill-bg {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.object-fit-cover {
  object-fit: cover;
}

section.background-position-center {
  background-position: center !important;
}

.vc_video-bg-container .vc_column-inner {
  padding-top: 0 !important;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.d-flex {
  display: flex !important;
  flex-wrap: wrap;
}

.flex {
  display: flex !important;
}
.d-inline-flex {
  display: inline-flex !important;
  flex-wrap: wrap;
}

.line-height-normal {
  line-height: 1 !important;
}

.h-auto {
  height: auto !important;
}

.overflow {
  &-y-visible {
    overflow-y: visible !important;
  }
}
