@import "typography/headings";
@import "typography/copy";

body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  font-size: 1rem;
  line-height: $font__line-height-body;
  font-weight: 500;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('/wp-content/themes/royalquebec/fonts/LibreBaskerville-Italic.ttf');
}


button.vc_general, input[type="submit"] {
  @extend .fw-700;
  @extend .text-uppercase;
}

.accent-text {
  font-family: 'Libre Baskerville';
}

.btn button {
  font-size: cl($btn-font-size-mobile, $btn-font-size-desktop);
}

p, ul, li, td {
  font-size: cl($p-font-size-mobile, $p-font-size-desktop);
}

h1, .h1 {
  font-size: cl($h1-font-size-mobile, $h1-font-size-desktop);
  line-height: 1.1;
}

h2, .h2 {
  font-size: cl($h2-font-size-mobile, $h2-font-size-desktop);
  line-height: 1.1;
  font-weight: 500;
}

h3, .h3 {
  font-size: cl($h3-font-size-mobile, $h3-font-size-desktop);
  line-height: 1.1;
  font-weight: 500;
}

h4, .h4 {
  font-size: cl($h4-font-size-mobile, $h4-font-size-desktop);
  line-height: 1.1;
  font-weight: 500;
}

h5, .h5 {
  font-size: cl($h5-font-size-mobile, $h5-font-size-desktop) !important;
  line-height: 1.1;
  font-weight: 500;
}

h6, .h6 {
  font-size: cl($h6-font-size-mobile, $h6-font-size-desktop);
  line-height: 1.1;
  font-weight: 500;
}

h7, .h7 {
  font-size: cl($h7-font-size-mobile, $h7-font-size-desktop) !important;
}

.small {
  font-size: 90% !important;
}

.bg-primary * {
  @extend .color-white;
}

.vc_custom_heading:is(.h1, .h2, .h3, .h4, .h5, .h5, .h7) > *{

  @extend .h5 ;

}
