//strip unit from value ex: px,%,rem,em...
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

/*
  Add clamp utilities allowing responsive property (ex: font-size: cl(20px, 30px))
*/
@function cl($var1, $var2) {
  @return clamp($var1, $var2, calc(#{strip-unit($var2)} / (#{strip-unit($max-view-width)} / 100) * 1vw));
}

/*
  Add all heading element style to custom class (ex: .h1,.h2,.h2,.h4,...)
*/
@for $i from 1 through 6 {
  .h#{$i} {
    @extend h#{$i} !optional;
  }
}

// stylelint-disable declaration-no-important


