footer.site-footer {
  background-color: theme-color('primary');
  a {
    &:hover {
      @extend .color-accent;
    }
  }

  .copyright {
    @extend .bg-secondary;

    p {
      font-size: 12px;
      @extend .py-2;
      @extend .mt-0;
      @extend .mb-0;
      @extend .fw-500;
      @extend .color-white;
    }
  }

  * {
    color: #B6BAC3;
  }

  > .row:first-child {
    padding: cl(55px, 180px);
  }

  .btn.btn-danger button {
    @extend .mr-1;
  }

  .vc_row {
    margin: 0 auto;
    max-width: 1350px;
  }

  > section:first-child {
    padding-top: cl(60px, 170px);
    padding-bottom: cl(45px, 140px);

    section {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .menu-item {
    @extend .mb-2;
    line-height: 1.2;

    a {
      line-height: 1.2;
      @extend .fw-500;
    }
  }

  .sub-menu-img, .sub-menu {
    @extend .d-none;
  }

  ul[id^="menu-primary-navigation"] {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 1fr 1fr;
  }

  .vc_btn3-container {
    @extend .mt-0;
    @extend .mb-1
  }

  ul {
    @extend .p-0;
    @extend .m-0;
  }

  #secondary-navigation {
    list-style: none;
    @extend .pl-0;

    .menu-item {
      margin-bottom: 20px;
    }
  }

  .footer-logo {
    img {
      max-width: 195px !important;
    }
  }

  .sub-menu-img {
    @extend .d-none;
  }

  .dot-notif-2::before {
    @extend .d-none;
  }

  @include media-breakpoint-down(md) {
    section:first-child {
      .vc_row > .vc_col-md-3,
      .vc_row > .vc_col-md-4 {
        text-align: center;
      }

      .vc_row:first-child > .vc_col-sm-12:last-child {
        padding-top: 30px;
        justify-content: center;
      }
    }

    div[id^="menu-social-navigation"] {
        justify-content: center;
    }
  }

  @media only screen and (min-width: 1200px) {
    .text-center {
      text-align: left;
    }
  }
}


footer #menu-social-navigation .menu-item {
  margin-bottom: 0 !important;
}

footer {
  clear: both;
}
