
.section {
  padding-top: cl(30px, 100px) !important;
  padding-bottom: cl(30px, 100px) !important;

  &-lg {
    padding-top: cl(125px, 300px) !important;
    padding-bottom: cl(125px, 300px) !important;
  }
}



body {
  @extend .mx-auto;
}

h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.25;
}

p {
  line-height: 1.7;
  margin-top: 0;
}

.page-content, .entry-content, .entry-summary {
  margin-top: 0;
}

.menu-toggle {
  text-transform: uppercase;
}


.w-100 .vc_single_image-wrapper img,
.w-100 .wpb_single_image .wpb_wrapper,
.w-100 .vc_single_image-wrapper {
  width: 100%;
}

.container-sm {
  max-width: 900px;
  margin: 0 auto !important;
}

.container {
  max-width: 1300px;
  margin: 0 auto !important;

}


//.wrapper-no-margin {
//  .wpb_wrapper {
//    margin-left: 0;
//    margin-right: 0;
//  }
//}



 .grid {
   display: grid;
   grid-column-gap: cl(20px, 30px);
   grid-row-gap: cl(20px, 30px);
 }

.hole {
  //max-height: 750px;
  @extend .grid;
  grid-template-columns: 1fr;
  @include media-breakpoint-up(md){
    grid-template-columns: repeat(6, 1fr);
  }

  > div {
    //&:nth-child(3) {
    //  display: none;
    //}
    @include media-breakpoint-up(sm){
      &:nth-child(1){
        grid-area: 1 / 1 / 3 / 2;
      }

      &:nth-child(2){
        grid-area: 1 / 2 / 3 / 4;
        justify-self: right;
        align-self: center;
      }

      &:nth-child(3){
        display: block;
        align-self: center;
        grid-area: 3 / 1 / 6 / 4;
      }

      &:nth-child(4){
        justify-self: center;
        grid-area: 1 / 4 / 6 / 7;
      }
    }
  }
}


.vc_section {
  //overflow: hidden;
  //padding-left: 20px !important;
  //padding-right: 20px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.site {
  position: relative;
}


.home {
  .hero-title {
    font-size: clamp(30px, 81px, calc(81 / (1920 / 100) * 1vw))
  }
}

@media only screen and (max-width: 758px){
  html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
