
.custom-logo {
  @extend .w-100;
  margin-top: 5px;
  min-width: 240px;
}

header.site-header {
  @extend .flex;
  @extend .mx-auto;
  @extend .px-2;

  height: 96px;
  //max-width: 1920px;
  position: relative;
  @extend .bg-white;

  div[class^="menu-social-navigation"] {


    @include media-breakpoint-down(md) {
      padding-bottom: 20px !important;
      padding-left: 5px !important;
    }
    padding: 0 cl(40px, 70px) cl(40px, 65px);
    @include media-breakpoint-up(md) {
      position: absolute;
      bottom: 0;
    }

    @extend .w-100;
    max-width: 1275px;
    @extend .flex;
    z-index: 99999;
    pointer-events: none;
    @extend .justify-content-lg-end;

    .menu {
      @extend .flex;
      pointer-events: all;
      @extend .justify-content-lg-end;
    }
  }
}


.main-navigation,
.site-branding {
  @extend .flex;
  @extend .align-items-center;
}

#secondary-navigation {
  .menu-item {
    a {
      @extend .btn;
      @extend .btn-round;

      &:hover {
        background: #1D2836;
        @extend .color-white;
      }
    }
  }
}

#main-navigation .menu-toggle {
  @extend .d-block;
}

.sub-menu .menu-item {
  transition: 250ms all ease-in;
}

.menu > .menu-item:last-child {
  @extend .pr-0;
}

.menu-wrapper {
  transform: translateY(-100%);
  position: absolute;
  top: 100%;
  left: 0;

  @extend .w-100;
  @extend .flex;
  @extend .justify-content-center;
  z-index: -1;
  margin: 0 auto;

  @media only screen and (min-width: 1280px) {
    .menu-item.active::before {
      content: '';
      top: 0;
      position: absolute;
      width: 250px;
      height: 100%;
      right: calc(100% - 400px);
      padding: cl(20px, 60px) cl(40px, 70px) cl(40px, 65px);
    }
  }

  div[class^="menu-primary-navigation"] {
    overflow-x: hidden;
    padding: cl(20px, 60px) cl(20px, 70px) cl(40px, 65px);
    background: rgba(#1D2836, 0.93);
    max-width: 1275px;
    @extend .flex-grow-1;

    .menu {
      @extend .flex-column;
      border-right: 1px solid #747B80;
    }
  }

  .menu {
    a {
      @extend .color-white;
      @extend .text-uppercase;
    }

    > .menu-item {
      //padding: 15px 0;

      > a {
        transition: 250ms all ease-in;
        line-height: 1;

        &:hover {
          @extend .fw-700;
        }
      }
    }
  }
  .menu:not(.nav-menu):not(#social-navigation) {
    @extend .d-inline-flex;
    @extend .justify-content-center;
    width: 320px;

    a {
      @extend .color-white;
      @extend .text-uppercase;
    }

    > .menu-item {
      padding: 15px 0;

      > a {
        transition: 250ms all ease-in;
        line-height: 1;

        &:hover {
          @extend .fw-700;
        }
      }
    }
  }

  .main-navigation .menu-item {
    position: static !important;
  }

  div[class^="menu-primary-navigation"] {
    position: relative;
  }
}

header {
  div[class^="menu-primary-navigation"] {
    @extend .h-100;
    overflow: auto;

    .sub-menu {
      .menu-item {
        @media only screen and (min-width: 1280px) {
          max-width: 50%;
        }

        a {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }

    .sub-menu, .menu {
      .menu-item {
        &.active > a {
          @extend .fw-700;
        }

        > a {
          @extend .ml-0;

          &:hover, &.active {
            @extend .fw-700;
          }
        }
      }
    }

  }
}

.menu-toggle {
  transition: 250ms all ease-in;
  @extend .h-100;
  @extend .px-xl-5;
  @extend .px-lg-2;
  @include media-breakpoint-up(xl) {
    margin-left: 62px !important;

    &:hover, &[aria-expanded="true"] {
      background-color: rgba(theme-color('primary'), 0.1);
    }
  }
}

#site-navigation {
  @extend .justify-content-end;
}


#social-navigation .menu-item, ul[id^="menu-social-navigation"] .menu-item {
  padding: 0 15px;
}

#secondary-navigation {
  //margin-left: -10px;
  //margin-right: -10px;

  > .menu-item {
    margin-right: 10px;
  }
}


.menu-wrapper {
  transition: 250ms all ease-in;
  opacity: 0;
  transform: translateY(-20%) !important;
}

.toggled .menu-wrapper {
  animation: animIn 2s infinite forwards;
  transform: translateY(0) !important;
  opacity: 1;
  z-index: 999;
}

.page-header {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    @extend .w-100;
    @extend .h-100;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .content {
    position: absolute;
    top: 0;
    @extend .flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    @extend .w-100;
    @extend .color-white;
    @extend .h-100;
    @extend .text-uppercase;

    h1 {
      //@extend .fw-500;
    }
  }

  img {
    @extend .w-100;
    @extend .object-fit-cover;
    max-height: 440px;
  }

  .post-thumbnail {
    @extend .flex;
  }
}

.main-navigation.toggled {
  .menu-wrapper {
    pointer-events: none;

    > div {
      pointer-events: all;
    }
  }
}

.overflow {
  overflow: hidden;
}

.menu-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  div[class^="menu-social-navigation"] {
    pointer-events: none !important;

    > .menu {
      pointer-events: all;
    }
  }
}


#main-navigation {
  #secondary-navigation {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

div.btn {
  padding: 0 !important;
}

@include media-breakpoint-down(md) {
  header {
    div[class^="menu-secondary-navigation"] {
      position: static;
      left: 0;
      right: 0;
      background: rgba(#1D2836, 0.93);
      width: 100%;
      z-index: -1;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 25px;

      .menu-item {
        margin-bottom: 5px;

        a {
          padding-top: 0;
          padding-top: 0;
        }
      }
    }

    #secondary-navigation .menu-item a {
      color: #fff !important;
      border: 1px solid rgba(255, 255, 255, 0.85);

      &:hover {
        background-color: #fff;
        //color: #1D2836 !important;
      }
    }

    .toggled div[class^=".menu-secondary-navigation"] {
      transform: translateY(0);
      z-index: 1;
    }
  }
}

@include media-breakpoint-down(md) {
  .sub-menu-img {
    display: none !important;
  }
}

@include media-breakpoint-down(md) {
  header {
    .site-branding {
      flex: 1 0 185px;
    }

    #primary-navigation {
      width: 100%;
      border-right: none;
    }

    #secondary-navigation {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    .menu-wrapper {
      flex-direction: column;
    }

    div[class^="menu-social-navigation"] {
      position: static;
      justify-content: flex-start;

      background: rgba(29, 40, 54, 0.93);
    }


    .menu-wrapper div[class^="menu-primary-navigation"] {
      padding-top: 10px;
    }

    #site-navigation {
      display: none !important;
    }

    .site-header {
      padding-right: 14px;
    }
  }

}

@include media-breakpoint-up(md) {
  .sub-menu-img {
    top: 0;
    pointer-events: none;
    right: 0;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: cl(20px, 60px) cl(40px, 70px) cl(40px, 65px);
    position: absolute;
  }
}

@include media-breakpoint-up(md) {
  .menu-wrapper {
    .sub-menu {
      padding: cl(20px, 60px) cl(40px, 70px) cl(40px, 65px) 0;
      position: absolute;
      left: cl(372px, 420px);
      flex-direction: column;
      right: 0;
      height: 100%;
      justify-content: center;
      display: none;

      .menu-item {
        padding-left: 40px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .menu-wrapper {
    .menu-item.active {
      .sub-menu {
        display: flex;
      }
    }
  }

}


@include media-breakpoint-up(lg) {
  .custom-logo, .custom-logo-link {
    width: 240px;
  }
}

.sub-menu-img img {
  max-height: 285px;
  @extend .object-fit-cover;
}

#social-navigation.menu {
  @extend .pr-0;
}


.sub-menu.active {
  margin-top: 20px;
}

@media only screen and (min-width: 1280px) {
  .sub-menu a:hover {
    .sub-menu-img {
      display: flex !important;
    }
  }
}



.page-header {
  height: cl(225px, 450px);
  background-position: center center;
}

@include media-breakpoint-down(md){
  header.site-header div[class^="social-navigation"] {
   align-items: flex-start !important;
  }
}

#secondary-navigation .menu-item a {
  white-space: nowrap;
}

header#masthead::before {
  content: "";
  @extend .w-100;
  @extend .h-100;
  position: absolute;
  left: 0;
  @extend .bg-white;
  z-index: 99999;
}


.site-branding, .menu-toggle, .site-header div[class^="menu-secondary-navigation"] {
  z-index: 999999;
}

.main-navigation {
  width: 100%;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    &.active {



      @include media-breakpoint-down(md) {
        display: block;
        padding-left: 30px;
        font-size: 80%;
      }
    }

    @include media-breakpoint-up(md) {
      ul {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        float: left;
        position: absolute;
        top: 0;

        z-index: 99999;

        ul {
          left: -999em;
          top: 0;
        }

        li {
          &:hover > ul,
          &.focus > ul {
            display: block;
            left: auto;
          }
        }
      }
    }

  }

  a {
    display: block;
    text-decoration: none;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}

.nav {
  list-style-type: none;
  padding-left: 0;
}

.menu-item {
  a {
    text-decoration: none;
  }
}

ul[id^="menu-social-navigation"] {
  display: flex;

}

header {
  ul[id^="menu-social-navigation"] .menu-item {
    &:first-child {
      padding-left: 0;
    }
  }
}


.menu-toggle img {
  display: none;
}

.menu-toggle span {
  display: block;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
}


.sub-menu-img {
  display: none;
}
//
//@media only screen and (min-width: 1280px){
//  .menu-item {
//
//    a:hover > .sub-menu-img,
//    &.active > a > .sub-menu-img {
//      display: flex;
//    }
//
//  }
//}


@include media-breakpoint-up(md) {
  .main-navigation ul {
    display: flex;
  }
}


@include media-breakpoint-up(lg) {
  .menu-toggle {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  #main-navigation {
    justify-content: flex-end;
  }

  .menu-toggle img {
    display: block;
  }

  .menu-toggle span {
    display: none;
  }

}

.mw-565 {
  max-width: 565px;
}

.slider .vc_column-inner {
  padding-top: 0 !important;
}

.hero-text {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: cl(20px, 30px);
  color: white !important;
  pointer-events: none;
}

.slider .wpb_wrapper {
  position: relative;
}

.dot-notif-1 {

  &::before {
    content: '1';
  }
}

.dot-notif-2 {

  &::after {
    padding: 5px;
    border-radius: 50%;
    background-color: #D22333;
    content: '2';
    position: absolute;
    right: 0;
    top: calc(50% - 15px);
    text-align: center;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
  }
}

//.hero-text h1 {
//  font-weight: 400 !important;
//  padding-left: cl(30px, 100px);
//}


//@media only screen and (max-width: 768px) {
//  header .social-navigation {
//    display: none !important;
//  }
//
//}

.vc_section.pt-0 {
  padding-top: 0 !important;
}

footer .red-dot {
  display: none !important;
}


.simpleParallax {
  width: 100%;
}



.fa-brands {
  font-size: 30px;
}

#secondary-navigation {
  .menu-item a {
    font-size: cl(14px, 16px);
  }
}

.meteo {
  width: 44px;
  z-index: 999999;
  a {
    display: flex;
  }
  img {
    width: 44px;
    z-index: 999999;
  }
}

.menu-social-navigation-container {
  justify-content: flex-start !important;
}
//
//
//header.site-header {
//  //&.scrolled {
//    position: fixed;
//    top: 0;
//    width:  100%;
//    background: white;
//    z-index: 999;
//  //}
//}

.vc_pageable-load-more-btn a.vc_general {
  color: theme-color('primary') !important;

  &:hover {
    color: white !important;
  }
}
