.vc_tta-container {
  position: relative;
}


.vc_tta_tabs_button {
  //height: 75px;
  position: absolute;
  width: 100%;
  margin-left: auto;
  text-align: right;

  &:hover {
    cursor: pointer;
  }

  i {
    pointer-events: none;
    margin-right: 15px;
  }

  @include media-breakpoint-up(lg) {
    display: none;

  }
}

.vc_tta-tabs {

  .vc_tta-panel-heading {
    display: none;
  }

  &.vc_tta-tabs-position-left {
    .vc_tta-panels-container {
      @include media-breakpoint-down(md){
        margin-top: 40px;
      }
    }
    &.vc_tta-spacing-1 {
      .vc_tta-tab {
        margin-top: 0 !important;
      }
    }

    flex-direction: column;

    .vc_tta-panel {
      background: transparent !important;

      .vc_tta-panel-body {
        border: none !important;
      }
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }

    .vc_tta-tabs-container {
      width: calc(100% - 60px);
      margin-bottom: 0 !important;
      overflow: visible !important;

      @include media-breakpoint-up(lg) {
        width: 350px;
        overflow: hidden;
        height: auto !important;
      }


      .vc_tta-tabs-list {

        margin-right: 50px !important;
        border: 1px solid black;
        overflow-y: hidden !important;
        background-color: theme-color('light');
        pointer-events: none;
        //position: absolute;
        top: 0;

        &.overflow-y-visible {
          pointer-events: auto;
          overflow-y: visible !important;
          height: auto !important;
        }

        &::after {
          content: '';
          width: 1px;
          position: absolute;
          top: 0;
          right: -5px;
          @extend .border-left;
          height: 100%;
        }

        @include media-breakpoint-down(md) {
          width: 100%;
          display: flex;
          margin-right: 0 !important;
          flex-direction: column;
        }

        @include media-breakpoint-up(lg) {
          background-color: transparent !important;
          border: none !important;
          max-height: 75px;
          max-height: 550px;
          pointer-events: auto;
          overflow-y: auto !important;
          height: auto !important;
          position: relative;
        }

        &::-webkit-scrollbar {
          width: 5px;
          @extend .border-right;
        }

        &::-webkit-scrollbar-thumb {
          background: theme-color('accent');
        }

        overflow-y: auto;


        .vc_tta-tab {
          line-height: 1.3;

          &.vc_active {
            order: -1;
          }

          > a {
            @include media-breakpoint-up(lg) {
              padding-left: 0;
              padding-right: 0;
            }
            @extend .mr-4;
            @extend .border-bottom;

            em {
              font-size: cl(14px, 16px);
            }

            //padding-bottom: 3px;
          }


        }
      }

    }
  }

  &.vc_tta-tabs-position-top {
    .vc_tta-panel-body {
      @extend .p-3;
    }

    .vc_tta-tabs-container {
      .vc_tta-tab {
        @extend .border;

        &.vc_active {
          background: $light;

          > a {
            span {
              font-weight: 600;
            }
          }
        }

        .vc_tta-title-text {
          @extend .text-uppercase;
        }
      }
    }
  }

  .vc_tta-tabs-container {
    display: block !important;
    margin-bottom: 10px;
    //@include media-breakpoint-up(lg){
    //  margin-right: 60px !important;
    //}


    .vc_tta-tabs-list {
      @extend .m-0;
    }

    .vc_tta-tab {
      @extend .mx-0;

      > a {
        border: none !important;
        background: transparent !important;

        em {
          font-family: 'Libre Baskerville';
          color: $grey;
          @extend .fw-500;
        }
      }

      &:not(.vc_active) {
        > a {
          span {
            font-weight: 600;
            @extend .color-accent;
          }
        }
      }

      &.vc_active {

        > a {
          span {
            font-weight: 600;
          }
        }
      }

      .vc_tta-title-text {
        font-size: cl(14px, 18px);
        color: #1D2836;
        font-weight: 500;
      }
    }
  }

  .vc_tta-panels-container {
    .vc_tta-panels {
      background: transparent !important;
      border: none !important;

      .vc_tta-panel {
        @extend .m-0;

        &.vc_active {
          background: $light;

          .vc_tta-title-text {
            @extend .color-accent;
            font-weight: 600;
          }
        }

        .vc_tta-panel-body {

          border-bottom: none !important;
          border-bottom-color: transparent !important;
        }
      }
    }
  }
}

body .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body {
  border-bottom: none !important;
}


