.vc_grid-filter {
  .vc_grid-filter-item {
    border: none !important;
    text-transform: uppercase;
    &.vc_active {
      span {
        font-weight: bold;
        @extend .color-accent;
      }

      background: transparent !important;

      &:hover {
        background: transparent !important;
      }
    }
  }
}
