.vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern {
  color: #fff !important;
  border: none !important;
  border-radius: 0;
  cursor: pointer;
  background-color: theme-color('accent') !important;
  transition: 250ms all ease-in;
  &:hover {
    background-color: theme-color('primary') !important;
  }
}

.vc_btn3-container {
  //margin-top: 20px;
}

.vc_btn3-container:not(:last-child) {
  margin-right: 20px;
}

button[class^="vc_btn"] {
  @extend .btn;
}

button.vc_general {
  @extend .mt-2;
}

.btn-wrapper {
  &.text-align-center {
    @extend .ml-auto;
    @extend .mr-auto;
  }
}

