.vc-hoverbox {
  .vc-hoverbox-front {

  }
}

.vc-hoverbox-block-inner {
  position: relative;
  h2 {
    @extend .color-white;
    @extend .fw-600;
    @extend .h5;
    @extend .text-uppercase;
  }
}
.vc-hoverbox {
  @extend .d-flex;
}
