.vc_gitem-post-data-source-post_title {
  > * {
    @extend .fw-700;
  }
}

.vc-gitem-zone-height-mode-auto {
  overflow: visible !important;
}
.vc_gitem-post-data-source-post_excerpt {
   * {
    line-height: 1.2;
  }
}

.vc_gitem-zone-a .vc_gitem-row-position-middle,
.vc_gitem-zone-b .vc_gitem-row-position-middle {
  position: static !important;
  transform: none !important;
}

.vc-gitem-zone-height-mode-auto.vc-gitem-zone-height-mode-auto-4-3:before {
  padding-top: 0 !important;
}

.vc_grid-item {
  .vc_figure {
    @extend .w-100;

    > .vc_single_image-wrapper {
      @extend .w-100;
    }
  }
  @include media-breakpoint-down(md){
    width: 50% !important;
  }

  @include media-breakpoint-down(xs){
    width: 100% !important;
  }
  @include media-breakpoint-up(lg){
    width: 33.33333333% !important;
  }

}

.vc_pageable-slide-wrapper {
  @extend .d-flex;
  margin-left: -15px !important;
  margin-right: -15px !important;
}

.vc_gitem_row .vc_gitem-col {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.vc_grid.vc_row.vc_grid-gutter-30px .vc_grid-item {
  padding-right: 0 !important;
}


.vc_gitem_row .vc_gitem-col {
  @extend .pt-0;
}

.entry-content.section {
  padding-top: 0 !important;
}

.vc_grid-container-wrapper {
  width: 100%;
}



.section-image-text-full {
  .vc_pageable-slide-wrapper {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}



.vc_grid-container {
  .vc_grid-pagination {
    .vc_grid-pagination-list {
      .vc_grid-page {
        .page-link {
          font-size: 16px !important;
          width: 32px !important;
          height: 32px !important;
          border-color: transparent !important;
          color: #231F20 !important;
        }
        &.vc_grid-active {
          .page-link {
            background-color: #F3F3F0!important;
            border-color: #EBEBEB !important;
          }
        }
      }

    }
  }
}

a[class*=' vc_btn'],a[class^='vc_btn'] {
  all: unset;
  background-color: transparent !important;
  @extend .btn;
  @extend .btn-accent;
}


