.vc_tta-accordion {
  @extend .pt-1;
  @extend .mb-0;

  .vc_tta-panel {
    @extend .bg-light;
    @extend .border;
    @extend .mb-1;
  }

  table {
    tr {
      td {
        padding: 8px 15px;
        border-bottom: 1px solid #BCBEC0;
      }
      @extend .border-top;
      @extend .border-bottom;
    }
    tbody {
      tr:last-child {
        td {
          border-bottom: 0 !important;
        }
      }
    }
  }

  .vc_tta-panel-heading {
    @extend .border-bottom;
  }

  .vc_tta-panel-body {
    //@extend .p-0;

  }

  .vc_tta-title-text {
    @extend .text-uppercase;
    font-size: cl(16px,20px);
    color: #1D2836;
    font-weight: 500;
  }
}

.rq-noborder {
  @extend .border-none;
}

.border-none{
  border: none !important;
}

.teacher {
  .vc_tta-accordion .vc_tta-panel {
    background: transparent !important;
    border: none !important;
  }

  .vc_tta-title-text {
    font-size: cl(20px,22px) !important;
    text-transform: none !important;
  }

  .vc_tta-panel-body {

  }
  .vc_tta.vc_general .vc_tta-panel-title>a {
    padding-left: 0 !important;
  }
  .vc_tta-accordion table tr, .vc_tta-accordion .vc_tta-panel-heading {
    border: none !important;
  }

  .vc_tta-accordion .vc_tta-panel {
    margin-bottom: 0 !important;
  }
}


.vc_tta {
  .vc_tta-panel {
    margin-bottom: 20px !important;
  }
  .vc_tta-panel-title>a {
    display: flex !important;
    align-items: center;
    padding-top: 20px !important;
    padding-bottom: 18px !important;
  }
}

.teacher .vc_tta.vc_general .vc_tta-panel-title > a {
  padding: 14px 20px !important;
  padding-left: 0 !important;
}

.vc_tta.vc_general .vc_tta-panel .vc_tta-panel-body {
  padding: initial;
}

.vc_tta-accordion {

  table tr td,
  .wpb_wrapper > *:not(div):not(table){
    padding: 8px 15px 10px;
    margin-bottom: 0;
  }



}
