.wpb_text_column {

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h5, p, ol {
    margin-bottom: 10px;
  }

  ol li {
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;

    li::before {
      font-family: 'FontAwesome';
      content: '\f0da';
      margin: 0 10px 0 -17px;
      color: #747B80;
    }

  }

}

