/*
  Color
*/
$primary: #1D2836;
$secondary: #314D66;
$accent: #D22333;
$light: #f3f3f0;
$grey: #747B80;

$theme-colors: () !default;
$theme-colors: map-merge(
(
  "primary": $primary,
  "secondary": $secondary,
  "accent": $accent,
  "light": #f3f3f0,
  "grey": #747B80
  //"warning": $warning,
  //"danger": $danger,
  //"light": $light,
  //"dark": $dark
),
$theme-colors);

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

/*
  Background
*/
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

/*
  Text
*/
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-main: #1D2836;

/*
  Link
*/
$color__link: $grey;
$color__link-hover: $primary;

/*
  Border
*/
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
