// stylelint-disable value-keyword-case
$font__main: 'Montserrat';
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$h1-font-size-desktop: 81px;
$h1-font-size-mobile:  30px;

$h2-font-size-desktop: 60px;
$h2-font-size-mobile: 35px;

$h3-font-size-desktop: 46px;
$h3-font-size-mobile: 30px;

$h4-font-size-desktop: 30px;
$h4-font-size-mobile: 23px;

$h5-font-size-desktop: 25px;
$h5-font-size-mobile: 21px;

$h6-font-size-desktop: 23px;
$h6-font-size-mobile: 19px;

$h7-font-size-desktop: 17px;
$h7-font-size-mobile: 17px;

$p-font-size-desktop: 17px;
$p-font-size-mobile:  17px;

$nav-font-size-desktop: 17px;
$nav-font-size-mobile:  13px;

$btn-font-size-desktop: 13px;
$btn-font-size-mobile:  13px;
