input[type="button"],
input[type="reset"],
input[type="submit"] {
	@extend .btn;
	background: theme-color('accent');
	border-color: theme-color('accent');
	color: #fff;
	//@extend .btn-accent;
}


.btn {
	display: inline-block;
	@extend .text-uppercase;

	@extend .text-align-center;
	@extend .px-2;
	@extend .fw-600;
	line-height: 1.3;
	cursor: pointer;
	border: 1px solid rgba(theme-color('grey'), 0.3) !important;
	transition: 250ms all ease-in;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	border-radius: 0 !important;
	&-round {
		@extend .btn;
		border-radius: 40px !important;
	}
	@extend .btn-transparent;
}


.btn.btn-primary {
	background: theme-color('primary');
	border-color: theme-color('primary');
	color: #fff;
	@extend .fw-700;
	&:hover,:focus, .active, :focus-visible {
		outline-color: theme-color('accent');
		color: #fff;
		background: theme-color('accent');
		border-color: theme-color('accent');
	}
}

a.btn.btn-accent {
	color: theme-color('primary');
}

.btn.btn-accent {
	background: transparent;
	position: relative;
	@extend .pl-4;
	@extend .pr-2;

	&::before {
		position: absolute;
		content: '';
		width: 15px;
		height: 15px;
		background-size: cover;
		top: 15px;
		left: 15px;
		transform: rotate(-90deg);
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z' style='fill: %23D22333;'/%3E%3C/svg%3E");
	}
	//color: #fff;
	@extend .fw-700;
	&:hover,:focus, .active, :focus-visible {
		outline-color: theme-color('primary');
		color: #fff;
		background: theme-color('primary');
		border-color: theme-color('primary');
	}
}

.teacher .btn.btn-accent {
	background: theme-color('accent');
	border-color: theme-color('accent');
	color: #fff;
	@extend .fw-700;
	@extend .px-2;
	&:hover,:focus, .active, :focus-visible {
		outline-color: theme-color('primary');
		color: #fff;
		background: theme-color('primary');
		border-color: theme-color('primary');
	}

	&::before {
		content: none !important;
	}
}


.btn.btn-transparent {
	&:hover,:focus, .active {
		color: #fff !important;
		background: theme-color('primary') !important;
		border-color: theme-color('primary') !important;
	}
}

.btn-wrapper {
	//display: inline-flex;
	&:not(:last-child){
		margin-right: 10px;
	}

	&.text-center, &.text-left, &.text-right {
		display: block !important;
	}
}

