input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea, select {
  color: theme-color('primary') !important;
  border: 1px solid #5C636A;
  border-radius: 0;
  padding: 10px 10px;

  &:focus {
    color: $color__text-input-focus;
  }

  width: 100%;

  + span {
    @extend .mt-1;
  }

  &:focus-visible {
    outline: theme-color('primary') auto 1px !important;
  }

}

select {
  //border: 1px solid $color__border-input;
}

textarea {
  width: 100%;
  height: 145px;
}

label {
  color: theme-color('primary') !important;
  font-weight: 700;
  display: flex;
  flex-direction: column;

  > span {
    @extend .mt-1;
  }

  //@extend .mb-2;
}

input[type="radio"],
input[type="checkbox"] {
  transform: scale(1.5);
  margin-left: 5px;
  margin-right: 5px;
}


input[name='post_password'] {
  margin-bottom: 1.5em;
  margin-top: .5em;
}

.post-password-form {
  max-width: 575px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}


.acf-form {
  .acf-fields > .acf-field {
    padding-left: 0;
  }
}

.entry-content > form {
  @extend .section;
}


.select-box {
  span {
    transition: 250ms all ease-in;

  }

  input[type="checkbox"] {
    &:hover {
      cursor: pointer;
    }

    opacity: 0;
    @extend .position-absolute;
    top: 0;
    left: 0;
    @extend .h-100;
    @extend .w-100;
    transform: none;
    @extend .m-0;

    &:checked + span {
      background: theme-color('primary');
      color: #fff;
    }
  }

}

