a {
  transition: 250ms all ease-in;
  color: $color__link;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}




.disabled {
  pointer-events: none;
  background-color: transparent;

  &:hover {
    background-color: transparent;
    color: inherit;
  }
}


.red-dot {
  display: inline;
  vertical-align: top;
  box-sizing: border-box;
  margin: -8px 0 0px 2px;
  padding: 0 5px;
  min-width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #d63638;
  color: #fff;
  font-size: 11px;
  text-align: center;
  z-index: 26;
}

