


ul {
	padding-left: 20px;
}

li {
	line-height: 1.7;
}
ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

.ml-auto > .vc_column-inner > .wpb_wrapper,
.mr-auto > .vc_column-inner > .wpb_wrapper{
	max-width: 700px;
}

ol, ul {
	margin-block-start: 0;
}


.teachers_link {
	@extend .d-flex;
	@extend .justify-content-center;
}
