table {
	margin: 0 0 1.5em;
	width: 100%;
}


//tbody > tr:not(:last-child) td {
//	border-bottom: 0.5px solid #e3e3e3 !important;
//
//}

td {

}



.table-striped {
	tbody {
		tr {
			&:nth-of-type(odd){
				background-color: rgba(0,0,0,.05);
			}
		}
	}
}

.table-responsive {
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-hover tbody tr:hover {
	background-color: rgba(0,0,0,.075);
}



table p {
	@extend .mb-0;
}
