.section-image-text-full {
  overflow: hidden;
  transition: 250ms background-color ease-in;
  @extend .bg-light;
  .wpb_wrapper {
    @extend .flex-grow-1;
    @extend .d-flex;
    @extend .flex-column;
    @extend .justify-content-center;
    @extend .align-items-baseline;
  }

  .wpb_single_image,
  .wpb_single_image .vc_figure,
  .wpb_single_image .vc_single_image-wrapper,
  .wpb_single_image img {
    @extend .h-100;
    @extend .w-100;
  }

  .wpb_single_image img {
    @extend .object-fit-cover;
  }


  &:nth-child(even) {
    @extend .flex-column-reverse;
    @extend .flex-md-column;
  }

  .ml-auto {
    > .vc_column-inner > .wpb_wrapper {
      @extend .ml-auto;
    }
  }

  .mr-auto {
    > .vc_column-inner > .wpb_wrapper {
      @extend .mr-auto;
    }
  }

}

html {
  overflow-x: hidden;
}

.home .section-image-text-full {
  &:hover {
    @extend .bg-primary;

    .wpb_wrapper, p, a {
      &.btn-transparent {
        &:hover {
          @extend .bg-white;
          @extend .color-primary;
        }
      }

      @extend .color-white;
    }

    button.vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern {
      transition: 250ms background-color ease-in;
      border-color: #fff !important;
      @extend .color-white;

      &:hover {
        @extend .bg-white;
        @extend .color-primary;
      }
    }
  }
}

