@import 'elements/wpb_text_column';
@import 'elements/vc_tta-tabs';
@import 'elements/vc_tta-accordion';
@import 'elements/vc_section';
@import 'elements/vc_grid_filter';
@import 'elements/vc_btn';
@import 'elements/vc_grid';
@import 'elements/vc_hoverbox';
@import 'elements/vc_images_carousel';



.vc_tta-panel-heading,
.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body {
  background: transparent !important;
  border: none !important;
}



.vc_tta-controls-icon::before {
  border-color: theme-color('accent') !important;
}

.vc_tta-container {
  margin-bottom: 0 !important;
}

.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body {
  border-bottom: 0.5px solid #e3e3e3 !important;
}


.wpb_image_text_overlay .wpb_vc_param_value,
.wpb_image_text .wpb_vc_param_value {
  display: none;
}
