.home .page-header {
  display: none;
}

.home {
  .page-header {

    &::before {
      z-index: 2;
    }
    max-height: 900px;
    overflow: hidden;
    height: auto !important;
    .content {
      z-index: 3;
      max-width: 1920px;
      @extend .hero-text;

      .hero-title {
        font-weight: 400 !important;
      }
      @extend .justify-content-start;
      span {
        @extend .h1;
      }
    }
  }
}
