.gsection_title {
  @extend .h4;
  @extend .text-uppercase;
  @extend .fw-700;
}

.gsection {
  border-bottom: none !important;
  padding-top: 20px !important;
}

.ginput_container_date select {
  min-width: 100px !important;
}

.ginput_container {
  input:not([type="radio"]):not([type="file"]), select {
    height: 45px;
  }
}

.gform_button {
  min-height: auto !important;
  line-height: 1 !important;
}

.gform_fields > .gsection:first-child {
  padding-top: 15px !important;
}


.gform_wrapper .gform_validation_errors {
  border-radius: 0 !important;
}

.gform_wrapper.gravity-theme .hour_minute_colon {
  line-height: 35px !important;
}

.gfield_label,
.ginput_container_time input {
  display: flex !important;
}

.gform_footer.top_label {
  margin-top: 0 !important;
}


.gfield_required {
  display: none !important;
}

.gform_confirmation_message {
  @extend .color-white;
}

.gfield_header_item {
  @extend .color-white;
}

.gform_wrapper.gravity-theme input[type=color],
.gform_wrapper.gravity-theme input[type=date],
.gform_wrapper.gravity-theme input[type=datetime-local],
.gform_wrapper.gravity-theme input[type=datetime],
.gform_wrapper.gravity-theme input[type=email],
.gform_wrapper.gravity-theme input[type=month],
.gform_wrapper.gravity-theme input[type=number],
.gform_wrapper.gravity-theme input[type=password],
.gform_wrapper.gravity-theme input[type=search],
.gform_wrapper.gravity-theme input[type=tel],
.gform_wrapper.gravity-theme input[type=text],
.gform_wrapper.gravity-theme input[type=time],
.gform_wrapper.gravity-theme input[type=url],
.gform_wrapper.gravity-theme input[type=week],
.gform_wrapper.gravity-theme select,
.gform_wrapper.gravity-theme textarea {
  padding-top: 12px !important;
  padding-bottom: 10px !important;
}


.placeholder {
  position: relative;

  .ginput_container {
    @extend .w-100;
  }

  label {
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translate3d(8px, 9px, 10px);
    transform-origin: 0 0;
    transition: all .25s;
    color: #5C636A !important;
    font-weight: 500 !important;
    //font-family: Open Sans SemiBold;
    font-size: 15px !important;
    line-height: 2;
  }

  &.hasValue {
    label {
      transform: translate3d(9px, 0, 10px) scale(0.6);

    }
  }

  &.gfield_contains_required {
    label:after {
      color: #D22333;
      content: "*";
      position: absolute;
      right: -8px;
    }
  }

}

//.gform_fields > .gfield {
//  @extend .placeholder;
//}
.modal__content .gform_wrapper.gravity-theme .gfield_list_icons button {
  filter: invert(1);
  cursor: pointer;
}


.gsection_title {
  @extend .h4;
  @extend .text-uppercase;
  @extend .fw-700;
}

.gsection {
  border-bottom: none !important;
  //padding-top: 30px !important;
}

.ginput_container_date select {
  min-width: 100px !important;
}

.ginput_container {
  input:not([type="radio"]):not([type="file"]), select {
    height: 45px;
  }
}

.gform_button {
  min-height: auto !important;
  line-height: 1 !important;
}

.gform_fields > .gsection:first-child {
  padding-top: 15px !important;
}


.gform_wrapper .gform_validation_errors {
  border-radius: 0 !important;
}

.gform_wrapper.gravity-theme .hour_minute_colon {
  line-height: 35px !important;
}

.gfield_label,
.ginput_container_time input {
  display: flex !important;
}

.gform_footer.top_label {
  margin-top: 0 !important;
}


.gfield_required {
  display: none !important;
}

.gform_confirmation_message {
  @extend .color-white;
}

.gfield_header_item {
  @extend .color-white;
}

.gform_wrapper.gravity-theme input[type=color],
.gform_wrapper.gravity-theme input[type=date],
.gform_wrapper.gravity-theme input[type=datetime-local],
.gform_wrapper.gravity-theme input[type=datetime],
.gform_wrapper.gravity-theme input[type=email],
.gform_wrapper.gravity-theme input[type=month],
.gform_wrapper.gravity-theme input[type=number],
.gform_wrapper.gravity-theme input[type=password],
.gform_wrapper.gravity-theme input[type=search],
.gform_wrapper.gravity-theme input[type=tel],
.gform_wrapper.gravity-theme input[type=text],
.gform_wrapper.gravity-theme input[type=time],
.gform_wrapper.gravity-theme input[type=url],
.gform_wrapper.gravity-theme input[type=week],
.gform_wrapper.gravity-theme select,
.gform_wrapper.gravity-theme textarea {
  padding-top: 12px !important;
  padding-bottom: 10px !important;
}


.placeholder {
  position: relative;

  .ginput_container {
    @extend .w-100;
  }

  label {
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translate3d(8px, 9px, 10px);
    transform-origin: 0 0;
    transition: all .25s;
    color: #5C636A !important;
    font-weight: 500 !important;
    //font-family: Open Sans SemiBold;
    font-size: 15px !important;
    line-height: 2;
  }

  &.hasValue {
    label {
      transform: translate3d(9px, 0, 10px) scale(0.6);

    }
  }

  &.gfield_contains_required {
    label:after {
      color: #D22333;
      content: "*";
      position: absolute;
      right: -8px;
    }
  }

}

//.gform_fields > .gfield {
//  @extend .placeholder;
//}
.modal__content .gform_wrapper.gravity-theme .gfield_list_icons button {
  filter: invert(1);
  cursor: pointer;
}

.modal__content {
  .gsection_title {
    color: #fff !important;
  }
}

.gsection_title {

  @extend .h5;
  font-weight: 500 !important;
}

.gsection {
  @extend .pb-0;
}

.grecaptcha-badge {
  opacity: 0;
}

@media only screen and (max-width: 640px) {
  .gform_wrapper.gravity-theme .gfield_list_group {
    border: none !important;
  }

  .modal__content {
    .gform_wrapper.gravity-theme .gfield_list_group_item::before {
      color: #fff !important;
    }

    .gform_wrapper.gravity-theme .gfield_list_icons {
      background: none !important;
    }

    .gform_wrapper.gravity-theme .gfield_list_group {
      padding-left: 0 !important;
      padding-right:0 !important;
    }
  }

}
