.card {
  background: #fff;
  @extend .mb-3;
  .card-title {
    color: #000;
    font-weight: 600;
  }

  .card-header {
    position: relative;
    display: flex;
    img {
      width: 100%;
      object-fit: cover;
    }

    .card-title {
      position: absolute;
      bottom: 0;
      @extend .p-2;
      background: rgba(#1F2021 ,0.5);
      color: #fff;
      width: 100%;
      text-align: center;
      font-weight: 700;
    }
  }
  .card-body {
    @extend .p-2;
    @extend .p-md-3;
  }

}
