.modal {
  background: rgba(theme-color('primary'),0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 18888;
  justify-content: center;
  align-items: center;
  &__content {
    background: rgba(theme-color('primary'),0.9);
    padding: 40px 40px 20px;
    @extend .my-4;
    margin: 0 auto;
    position: relative;
    //width: cl(500px, 800px);
    max-height: 95%;
    overflow: auto;
  }

  label, legend, .hour_minute_colon {
    color: #fff !important;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    line-height: 1;
    padding: 10px;
  }
}
