.search_form {
  transition: 250ms all ease-in;
  opacity: 0;
  position: absolute;
  transform: translateY(-20%) !important;
  z-index: -1;
  margin: 0 auto;
  top: 0;
  left: 0;



  .search-field {
    border-width: 2px;
    border-color: white;
  }
  @extend .w-100;

  .screen-reader-text {
    @extend .d-none;
  }
  &.toggled {
    animation: animIn 2s infinite forwards;
    transform: translateY(0) !important;
    opacity: 1;
    z-index: 99998;
    top: 96px;
  }
  form {
    padding: 2rem;
    @extend .flex;
    max-width: 1275px;
    background-color: rgba(theme-color('primary'), 0.93);
    @extend .w-100;


    label {
      @extend .flex-grow-1;
    }
  }
}

.search_toggle {
  @extend .flex;
  @extend .align-items-center;
  margin-left: 20px;
  z-index: 999999;
  width: 28px;
  img {
    width: 28px;
    transition: 250ms all ease-in;
    filter: invert(47%) sepia(2%) saturate(1169%) hue-rotate(162deg) brightness(101%) contrast(88%);
  }
  &:hover {
    cursor: pointer;
    img {
      filter: invert(10%) sepia(6%) saturate(5108%) hue-rotate(175deg) brightness(94%) contrast(85%);
    }
  }
}

span.search-instance {
  font-weight: bold;
  background: theme-color('light');
  padding-left: 2px;
  padding-right: 2px;
  display: inline-block;
  text-transform: capitalize;
}

.page-content .search-field {
  @extend .mb-3;
}

.search-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 650px;
  display: block;
}
