.slide {
  display: flex;
  justify-content: center;

  .slide-content {
    position: absolute;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;

    h2 {
      @extend .pl-3;
    }
  }
}

.slick-dots {
  bottom: 4% !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}

.slick-slider {
  overflow: hidden;
}



.slider, .slider .vc_column-inner {
  @extend .pl-0;
  @extend .pr-0;
}

.slick .h1 {
  color: #fff;
}

.hero,
.hero img{
  max-height: 870px;
}
.slide-content {
  .row {
    @extend .container;
    @extend .d-flex;
    display: flex;
    @extend .h-100;
    height: 100%;
    @extend .align-items-center;
  }
  //@extend .pl-auto;
  //@extend .pr-auto;
}
.slick-slide {
  position: relative;
}
.hero img {
  min-height: 275px;
}

.hero {
  .slick-slide {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.partners {
  .slick {
    flex-grow: 1;
  }
  .slick-track {
    display: flex;
    align-items: center;

    .slide {
      @extend .mx-3;
    }
  }
}

.holes {
  display: flex !important;
  flex-direction: column-reverse;
  .slick-prev {
    left: 0 !important;
    @include media-breakpoint-up(lg){
      left: 25px !important;
    }

    width: 45px;
    height:   45px;
    top: 410px;
    z-index: 99999;
  }
  .slick-next {
    width: 45px;
    top: 410px;
    height:   45px;
    right: 0 !important;
    @include media-breakpoint-up(lg){
      right: 25px !important;
    }

    z-index: 99999;
  }
  .slick-next:before, .slick-prev:before {
    font-size: 45px;
    color: black;
  }
  .slick-dots {
    @extend .px-2;
    position: static !important;
    margin-bottom: 35px;

    li {
      a {
        color: #1D2836;
      }

      width: 36px;
      height: 36px;
      line-height: 36px;

      &.slick-active, &:hover {
        a {
          color: white;
        }
        @extend .bg-accent;
      }

      border-radius: 50%;
    }
  }
}
