#videos {
  .vc_gitem-post-data {
    margin-bottom: 5px !important;
  }
  .wpb_single_image {
    position: relative;
    transition: 250ms all ease-in;

    img {
      pointer-events: none;
    }
    &::before {
      content: '';
      pointer-events: none;
      position: absolute;
      width:  100%;
      height: 100%;
      top:0;
      left: 0;
      transition: 250ms all ease-in;
      background: rgba(0,0,0,0);
    }
    &::after {
      content: '';
      transition: 250ms all ease-in;
      position: absolute;
      width:  77px;
      height: 77px;
      top: calc(50% - 75px / 2);
      left: calc(50% - 75px / 2);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='76.917' height='76.917' viewBox='0 0 76.917 76.917'%3E%3Cg id='Group_389' data-name='Group 389' transform='translate(-938.396 -2514.752)'%3E%3Ccircle id='Ellipse_28' data-name='Ellipse 28' cx='38.459' cy='38.459' r='38.459' transform='translate(938.396 2514.752)' fill='%23fff' opacity='0.7'/%3E%3Cg id='Group_134' data-name='Group 134'%3E%3Cg id='Group_133' data-name='Group 133'%3E%3Cg id='Group_132' data-name='Group 132'%3E%3Cg id='Group_131' data-name='Group 131'%3E%3Cpath id='Path_706' data-name='Path 706' d='M989.548,2554.292,970.646,2565a.831.831,0,0,1-1.2-.819v-21.414a.831.831,0,0,1,1.2-.819l18.9,10.706A.969.969,0,0,1,989.548,2554.292Z' fill='%231f2021'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      pointer-events: none;
    }
    &:hover{
      cursor: pointer;

      &::after {
        transform: scale(1.2);
      }
      &::before {
        content: '';
        pointer-events: none;
        position: absolute;
        width:  100%;
        height: 100%;
        top:0;
        left: 0;
        background: rgba(0,0,0,0.85);
      }
    }
  }
}

.video_modal_wrapper {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.85);
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video_modal {
  //background: white;
  //width: 800px;
  //height: cl(400px, 800px);
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    border: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.vc_gitem-link img {
  width: 100%;
  object-fit: cover;
}

.video_modal_container {
  width: 100%;
  max-width: 85vw;
}
