.widget-title {
  @extend .h5;
  @extend .mb-1;
}

.widget {
  ul {
    list-style-type: none;
    li {
      @extend .text-capitalize;
    }
  }


  .search-field {
    @extend .mb-2;
  }
}

.widget_search {
  @extend .mb-2;
}

